<html>
<link rel="stylesheet" href="lib/swiper-4.4.2/dist/css/swiper.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="lib/bootstrap-3.1.1-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="lib/footer.css"/>
<link rel="stylesheet" href="css/main.css"/>
<link rel="stylesheet" href="css/actor.css"/>
<title>Actor Page</title>
<body>
    <section class="nav">
        <div class="container">
            <div class="logo">
                <img src="img/nav-logo-1.png">
            </div>
            <div class="right-block">
                <ul>
                    <li class="active"><a href="#">TRANG CHỦ</a></li>
                    <li><a href="#">LỊCH SỬ</a></li>
                    <li><a href="#">BẢNG XẾP HẠNG</a></li>
                    <li><a href="#">LIÊN HỆ</a></li>
                </ul>
                <div class="user-avatar">
                    <img src="img/user-black.png">
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
    <section class="actor-info">
        <div class="container-fluid">
            <div class="actor-avatar col-md-4">
                <img src="#">
            </div>
            <div class="actor-info-content col-md-8">
                <h3 class="name">Võ Vũ Trường Giang</h3>
                <div class="basic-info col-md-6">
                    
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat optio culpa excepturi modi eligendi impedit dolores? Voluptate omnis magni rem aperiam ipsum repudiandae incidunt cum ratione debitis aut, maxime fugiat.</p>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni consequuntur a officiis, accusantium rem est quibusdam. Quod iste dicta nisi!</p>
                    <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, assumenda!</p>
                </div>
                <div class="more-info col-md-6">
                    <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste, quaerat consequatur nam quidem error harum eius provident. Distinctio maxime molestias inventore quas aperiam provident, at et adipisci voluptatibus suscipit, corporis repudiandae qui quae perferendis debitis sit, placeat est aliquam assumenda asperiores fugiat itaque vero. Sequi, illo! Esse sapiente maiores animi?</p>
                </div>
            </div>
        </div>
    </section>
    <section class="artist">
        <div class="container">
            <h3 class="title">Tóm tắt quá trình hoạt động nghệ thuật</h3>
            <div class="content">
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi impedit quaerat ipsam quod sint. Nisi reiciendis, maiores possimus, sapiente fugiat ad doloremque pariatur accusantium perspiciatis dolore quod deserunt est expedita. Saepe, incidunt illo explicabo magnam culpa dolorum accusantium tempora esse iusto reprehenderit, velit eos, excepturi quo molestias labore. Alias, voluptas!</p>
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi impedit quaerat ipsam quod sint. Nisi reiciendis, maiores possimus, sapiente fugiat ad doloremque pariatur accusantium perspiciatis dolore quod deserunt est expedita. Saepe, incidunt illo explicabo magnam culpa dolorum accusantium tempora esse iusto reprehenderit, velit eos, excepturi quo molestias labore. Alias, voluptas!</p>
                <ul>
                    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, blanditiis!</li>
                    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, blanditiis!</li>
                    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, blanditiis!</li>
                    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, blanditiis!</li>
                </ul>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus, quaerat veniam. Ipsa recusandae, voluptatem porro facilis inventore sed omnis optio nobis necessitatibus suscipit perferendis incidunt eos consectetur labore natus illo.</p>
            </div>
        </div>
    </section>
    <section id="award-achieved">
        <div class="container">
            <h3 class="title">Các giải thưởng đã đạt được</h3>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="award">
                            <div class="award-img">
                                <img src="#">
                            </div>
                            <div class="award-content">
                                <div class="name">Lorem ipsum dolor sit amet.</div>
                                <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, eos!</div>
                                <div class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam aspernatur minus modi animi ipsam magni sequi minima ut consequuntur ad?</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="award">
                            <div class="award-img">
                                <img src="#">
                            </div>
                            <div class="award-content">
                                <div class="name">Lorem ipsum dolor sit amet.</div>
                                <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, eos!</div>
                                <div class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam aspernatur minus modi animi ipsam magni sequi minima ut consequuntur ad?</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="award">
                            <div class="award-img">
                                <img src="#">
                            </div>
                            <div class="award-content">
                                <div class="name">Lorem ipsum dolor sit amet.</div>
                                <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, eos!</div>
                                <div class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam aspernatur minus modi animi ipsam magni sequi minima ut consequuntur ad?</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="comments">
        <div class="container">
            <div class="comments-content">
                <h3 class="title">Bình luận về nghệ sĩ</h3>
                <div class="comment-container">
                    <i class="fa fa-close"></i>
                    <div class="comment">
                        <div class="col-md-1 block">
                            <div class="comment-vote">
                                <i class="like-btn fa fa-caret-up"></i>
                                <p class="number-like">5</p>
                                <i class="dislike-btn fa fa-caret-down"></i>
                            </div>
                        </div>
                        <div class="col-md-2 block">
                            <div class="user">
                                <div class="avatar">
                                    <img src="#">
                                </div>
                                <div class="user-info">
                                    <p class="name">Trần Văn A</p>
                                    <p class="type-user">Khán giả</p>
                                    <p class="score">1.2</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 block">
                            <div class="comment-content">
                                <div class="top-block row">
                                    <p class="date-time-comment">27-Nov-2018 8:41 AM</p>
                                </div>
                                <div class="mid-block">
                                    <div class="comment-text">
                                        <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non ipsam odio assumenda et at nemo optio dicta dolor corrupti praesentium!</p>
                                    </div>
                                </div>
                                <div class="bottom-block row">
                                    <div class="block col-md-6">
                                        <p class="amount-of-response">5 phản hồi</p>
                                    </div>
                                    <div class="block col-md-6">
                                            <a><div class="btn see-response-btn">Xem phản hồi</div></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment-container">
                    <i class="fa fa-close"></i>
                    <div class="comment">
                        <div class="col-md-1 block">
                            <div class="comment-vote">
                                <i class="like-btn fa fa-caret-up"></i>
                                <p class="number-like">5</p>
                                <i class="dislike-btn fa fa-caret-down"></i>
                            </div>
                        </div>
                        <div class="col-md-2 block">
                            <div class="user">
                                <div class="avatar">
                                    <img src="#">
                                </div>
                                <div class="user-info">
                                    <p class="name">Trần Văn A</p>
                                    <p class="type-user">Khán giả</p>
                                    <p class="score">1.2</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 block">
                            <div class="comment-content">
                                <div class="top-block row">
                                    <p class="date-time-comment">27-Nov-2018 8:41 AM</p>
                                </div>
                                <div class="mid-block">
                                    <div class="comment-text">
                                        <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non ipsam odio assumenda et at nemo optio dicta dolor corrupti praesentium!</p>
                                    </div>
                                </div>
                                <div class="bottom-block row">
                                    <div class="block col-md-6">
                                        <p class="amount-of-response">5 phản hồi</p>
                                    </div>
                                    <div class="block col-md-6">
                                            <a><div class="btn see-response-btn">Xem phản hồi</div></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment-container">
                    <i class="fa fa-close"></i>
                    <div class="comment">
                        <div class="col-md-1 block">
                            <div class="comment-vote">
                                <i class="like-btn fa fa-caret-up"></i>
                                <p class="number-like">5</p>
                                <i class="dislike-btn fa fa-caret-down"></i>
                            </div>
                        </div>
                        <div class="col-md-2 block">
                            <div class="user">
                                <div class="avatar">
                                    <img src="#">
                                </div>
                                <div class="user-info">
                                    <p class="name">Trần Văn A</p>
                                    <p class="type-user">Khán giả</p>
                                    <p class="score">1.2</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 block">
                            <div class="comment-content">
                                <div class="top-block row">
                                    <p class="date-time-comment">27-Nov-2018 8:41 AM</p>
                                </div>
                                <div class="mid-block">
                                    <div class="comment-text">
                                        <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non ipsam odio assumenda et at nemo optio dicta dolor corrupti praesentium!</p>
                                    </div>
                                </div>
                                <div class="bottom-block row">
                                    <div class="block col-md-6">
                                        <p class="amount-of-response">5 phản hồi</p>
                                    </div>
                                    <div class="block col-md-6">
                                            <a><div class="btn see-response-btn">Xem phản hồi</div></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment-maker">
                    <div class="col-md-2 block">
                        <div class="user">
                            <div class="avatar">
                                <img src="#">
                            </div>
                            <div class="user-info">
                                <p class="name">Trần Văn A</p>
                                <p class="type-user">Khán giả</p>
                                <p class="score">1.2</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10 block">
                        <textarea class="comment-area"></textarea>
                        <a><div class="btn comment-btn">BÌNH LUẬN</div></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="other-actors">
        <h3 class="title">Một số diễn viên khác</h3>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="info-content swiper-lazy">
                        <div class="avatar">
                            <img data-src="img/kmt.jpg" class="swiper-lazy">
                        </div>
                        <p class="name">KIỀU MINH TUẤN</p>
                    </div>
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div class="swiper-slide">
                    <div class="info-content swiper-lazy">
                        <div class="avatar">
                            <img data-src="img/kmt.jpg" class="swiper-lazy">
                        </div>
                        <p class="name">KIỀU MINH TUẤN</p>
                    </div>
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div class="swiper-slide">
                    <div class="info-content swiper-lazy">
                        <div class="avatar">
                            <img data-src="img/kmt.jpg" class="swiper-lazy">
                        </div>
                        <p class="name">KIỀU MINH TUẤN</p>
                    </div>
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div class="swiper-slide">
                    <div class="info-content swiper-lazy">
                        <div class="avatar">
                            <img data-src="img/kmt.jpg" class="swiper-lazy">
                        </div>
                        <p class="name">KIỀU MINH TUẤN</p>
                    </div>
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div class="swiper-slide">
                    <div class="info-content swiper-lazy">
                        <div class="avatar">
                            <img data-src="img/kmt.jpg" class="swiper-lazy">
                        </div>
                        <p class="name">KIỀU MINH TUẤN</p>
                    </div>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- footer -->
	<footer class="footer-distributed">
        <div class="footer-left">
            <div class="footer-logo" >
                <img src="img/footer-logo.png" alt="">
            </div>
            <p class="footer-links">
                <a href="#">Trang Chủ</a>
                ·
                <a href="#">Lịch sử</a>
                ·
                <a href="#">Bảng xếp hạng</a>
                ·
                <a href="#">Liên hệ</a>
            </p>
            <p class="footer-company-name">Nhóm con chim non &copy; 2018</p>
        </div>
        <div class="footer-center">
            <h4>Các thông tin liên quan:</h4>
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Khu phố 6, phường Linh Trung</span>Quận Thủ Đức, Tp.Hồ Chí Minh</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p>(08) 37251993</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:DHCNTT_TPHCM@gm.uit.com.vn">DHCNTT_TPHCM@gm.uit.com.vn</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <h4>Thông tin về nhóm:</h4>
                <p class="group-member">Nhóm bao gồm 4 thành viên:</p>
                <p class="group-member">15520801: Dương Văn Thanh</p>
                <p class="group-member">15520680: Phạm Ngọc Quân</p>
                <p class="group-member">15520693: Trần Hưng Quang</p>
                <p class="group-member">15520679: Nguyễn Trung Quân</p>
            </p>
            <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </footer>
</body>
<script type="text/javascript" src="lib/jquery.min.js"></script>
<script type="text/javascript" src="lib/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="lib/swiper-4.4.2/dist/js/swiper.min.js"></script>
<script type="text/javascript" src="lib/jquery.bpopup.min.js"></script>
<script type="text/javascript" src="js/actor.js"></script>
</html>