<html>
<link rel="stylesheet" href="lib/swiper-4.4.2/dist/css/swiper.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="lib/bootstrap-3.1.1-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="lib/footer.css"/>
<link rel="stylesheet" href="css/main.css"/>
<link rel="stylesheet" href="css/film.css"/>
<title>Film Page</title>
<body>
    <section class="nav">
        <div class="container">
            <div class="logo">
                <img src="img/nav-logo-1.png">
            </div>
            <div class="right-block">
                <ul>
                    <li class="active"><a href="#">TRANG CHỦ</a></li>
                    <li><a href="#">LỊCH SỬ</a></li>
                    <li><a href="#">BẢNG XẾP HẠNG</a></li>
                    <li><a href="#">LIÊN HỆ</a></li>
                </ul>
                <div class="user-avatar">
                    <img src="img/user-black.png">
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
    <section class="film-info">
        <div class="container-fluid">
            <div class="extra-info col-md-5">
                <div class="trailer-film">
                    <iframe width="100%" height="45%" src="https://www.youtube.com/embed/_affkHceSj4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="some-info">
                    <p class="text">Đạo diễn: Lê Thanh Sơn</p>
                    <p class="text">Nhà sản xuất: Charlie Nguyễn</p>
                    <p class="text">Diễn viên: Kiều Minh Tuấn, Kaity Nguyễn, Will 365, Châu Bùi, Quang Minh, Nguyễn Chánh Tín, Huy Khánh, Kathy Uyên, Don Nguyễn</p>
                    <p class="text">Doanh thu: 171 tỷ VND</p>
                </div>
            </div>
            <div class="main-info col-md-7">
                <div class="content">
                    <h3 class="name">Em chưa 18</h3>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti saepe veritatis accusamus cupiditate, aperiam accusantium vitae laboriosam animi eaque consequuntur exercitationem quod odit dicta quidem soluta praesentium sequi. Voluptatum vitae culpa perferendis consectetur rem explicabo minus impedit reiciendis, veniam eligendi iusto incidunt cupiditate a in iste accusamus expedita adipisci odit veritatis dolores nam harum. Id, quas? Laboriosam molestias amet corrupti, modi, doloribus accusantium consectetur animi nobis doloremque aperiam, esse illum error! Adipisci ea, eaque atque autem blanditiis magni, vel enim quos qui eum illum ipsa optio deleniti debitis, est necessitatibus laborum reprehenderit nihil. Consectetur aliquam fugit voluptates molestiae culpa odit!</p>
                    <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia obcaecati expedita sequi corrupti atque in est tempore eligendi sint, dolor quos a totam ab vitae veniam iste libero quod repellat.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="picture-in-film">
        <h3 class="title">Một số hình ảnh trong phim</h3>
        <div id="some-img" class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="row">
                        <div class="img-container col-md-4">
                            <a href="">
                                <div class="screen-img">
                                    <img src="img/banner1.jpg">
                                </div>
                            </a>
                        </div>
                        <div class="img-container col-md-4">
                            <a href="">
                                <div class="screen-img">
                                    <img src="img/banner2.jpg">
                                </div>
                            </a>
                        </div>
                        <div class="img-container col-md-4">
                            <a href="">
                                <div class="screen-img">
                                    <img src="img/banner3.jpg">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="img-container col-md-4">
                            <a href="">
                                <div class="screen-img">
                                    <img src="img/banner1.jpg">
                                </div>
                            </a>
                        </div>
                        <div class="img-container col-md-4">
                            <a href="">
                                <div class="screen-img">
                                    <img src="img/banner2.jpg">
                                </div>
                            </a>
                        </div>
                        <div class="img-container col-md-4">
                            <a href="">
                                <div class="screen-img">
                                    <img src="img/banner3.jpg">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="row">
                        <div class="img-container col-md-4">
                            <a href="">
                                <div class="screen-img">
                                    <img src="img/banner1.jpg">
                                </div>
                            </a>
                        </div>
                        <div class="img-container col-md-4">
                            <a href="">
                                <div class="screen-img">
                                    <img src="img/banner2.jpg">
                                </div>
                            </a>
                        </div>
                        <div class="img-container col-md-4">
                            <a href="">
                                <div class="screen-img">
                                    <img src="img/banner3.jpg">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="img-container col-md-4">
                            <a href="">
                                <div class="screen-img">
                                    <img src="img/banner1.jpg">
                                </div>
                            </a>
                        </div>
                        <div class="img-container col-md-4">
                            <a href="">
                                <div class="screen-img">
                                    <img src="img/banner2.jpg">
                                </div>
                            </a>
                        </div>
                        <div class="img-container col-md-4">
                            <a href="">
                                <div class="screen-img">
                                    <img src="img/banner3.jpg">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev swiper-button-white "></div>
            <div class="swiper-button-next swiper-button-white "></div>
        </div>
    </section>
    <section id="award-achieved">
        <div class="container">
            <h3 class="title">Các giải thưởng đã đạt được</h3>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="award">
                            <div class="award-img">
                                <img src="#">
                            </div>
                            <div class="award-content">
                                <div class="name">Lorem ipsum dolor sit amet.</div>
                                <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, eos!</div>
                                <div class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam aspernatur minus modi animi ipsam magni sequi minima ut consequuntur ad?</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="award">
                            <div class="award-img">
                                <img src="#">
                            </div>
                            <div class="award-content">
                                <div class="name">Lorem ipsum dolor sit amet.</div>
                                <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, eos!</div>
                                <div class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam aspernatur minus modi animi ipsam magni sequi minima ut consequuntur ad?</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="award">
                            <div class="award-img">
                                <img src="#">
                            </div>
                            <div class="award-content">
                                <div class="name">Lorem ipsum dolor sit amet.</div>
                                <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, eos!</div>
                                <div class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam aspernatur minus modi animi ipsam magni sequi minima ut consequuntur ad?</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="comments">
        <div class="container">
            <div class="comments-content">
                <h3 class="title">Bình luận về tác phẩm</h3>
                <div class="comment-container">
                    <i class="fa fa-close"></i>
                    <div class="comment">
                        <div class="col-md-1 block">
                            <div class="comment-vote">
                                <i class="like-btn fa fa-caret-up"></i>
                                <p class="number-like">5</p>
                                <i class="dislike-btn fa fa-caret-down"></i>
                            </div>
                        </div>
                        <div class="col-md-2 block">
                            <div class="user">
                                <div class="avatar">
                                    <img src="#">
                                </div>
                                <div class="user-info">
                                    <p class="name">Trần Văn A</p>
                                    <p class="type-user">Khán giả</p>
                                    <p class="score">1.2</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 block">
                            <div class="comment-content">
                                <div class="top-block row">
                                    <p class="date-time-comment">27-Nov-2018 8:41 AM</p>
                                </div>
                                <div class="mid-block">
                                    <div class="comment-text">
                                        <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non ipsam odio assumenda et at nemo optio dicta dolor corrupti praesentium!</p>
                                    </div>
                                </div>
                                <div class="bottom-block row">
                                    <div class="block col-md-6">
                                        <p class="amount-of-response">5 phản hồi</p>
                                    </div>
                                    <div class="block col-md-6">
                                            <a><div class="btn see-response-btn">Xem phản hồi</div></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment-container">
                    <i class="fa fa-close"></i>
                    <div class="comment">
                        <div class="col-md-1 block">
                            <div class="comment-vote">
                                <i class="like-btn fa fa-caret-up"></i>
                                <p class="number-like">5</p>
                                <i class="dislike-btn fa fa-caret-down"></i>
                            </div>
                        </div>
                        <div class="col-md-2 block">
                            <div class="user">
                                <div class="avatar">
                                    <img src="#">
                                </div>
                                <div class="user-info">
                                    <p class="name">Trần Văn A</p>
                                    <p class="type-user">Khán giả</p>
                                    <p class="score">1.2</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 block">
                            <div class="comment-content">
                                <div class="top-block row">
                                    <p class="date-time-comment">27-Nov-2018 8:41 AM</p>
                                </div>
                                <div class="mid-block">
                                    <div class="comment-text">
                                        <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non ipsam odio assumenda et at nemo optio dicta dolor corrupti praesentium!</p>
                                    </div>
                                </div>
                                <div class="bottom-block row">
                                    <div class="block col-md-6">
                                        <p class="amount-of-response">5 phản hồi</p>
                                    </div>
                                    <div class="block col-md-6">
                                            <a><div class="btn see-response-btn">Xem phản hồi</div></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment-container">
                    <i class="fa fa-close"></i>
                    <div class="comment">
                        <div class="col-md-1 block">
                            <div class="comment-vote">
                                <i class="like-btn fa fa-caret-up"></i>
                                <p class="number-like">5</p>
                                <i class="dislike-btn fa fa-caret-down"></i>
                            </div>
                        </div>
                        <div class="col-md-2 block">
                            <div class="user">
                                <div class="avatar">
                                    <img src="#">
                                </div>
                                <div class="user-info">
                                    <p class="name">Trần Văn A</p>
                                    <p class="type-user">Khán giả</p>
                                    <p class="score">1.2</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 block">
                            <div class="comment-content">
                                <div class="top-block row">
                                    <p class="date-time-comment">27-Nov-2018 8:41 AM</p>
                                </div>
                                <div class="mid-block">
                                    <div class="comment-text">
                                        <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non ipsam odio assumenda et at nemo optio dicta dolor corrupti praesentium!</p>
                                    </div>
                                </div>
                                <div class="bottom-block row">
                                    <div class="block col-md-6">
                                        <p class="amount-of-response">5 phản hồi</p>
                                    </div>
                                    <div class="block col-md-6">
                                            <a><div class="btn see-response-btn">Xem phản hồi</div></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment-maker">
                    <div class="col-md-2 block">
                        <div class="user">
                            <div class="avatar">
                                <img src="#">
                            </div>
                            <div class="user-info">
                                <p class="name">Trần Văn A</p>
                                <p class="type-user">Khán giả</p>
                                <p class="score">1.2</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10 block">
                        <textarea class="comment-area"></textarea>
                        <a><div class="btn comment-btn">BÌNH LUẬN</div></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="other-films">
        <h3 class="title">Một số diễn viên khác</h3>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="info-content swiper-lazy">
                        <div class="avatar">
                            <img data-src="img/kmt.jpg" class="swiper-lazy">
                        </div>
                        <p class="name">KIỀU MINH TUẤN</p>
                    </div>
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div class="swiper-slide">
                    <div class="info-content swiper-lazy">
                        <div class="avatar">
                            <img data-src="img/kmt.jpg" class="swiper-lazy">
                        </div>
                        <p class="name">KIỀU MINH TUẤN</p>
                    </div>
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div class="swiper-slide">
                    <div class="info-content swiper-lazy">
                        <div class="avatar">
                            <img data-src="img/kmt.jpg" class="swiper-lazy">
                        </div>
                        <p class="name">KIỀU MINH TUẤN</p>
                    </div>
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div class="swiper-slide">
                    <div class="info-content swiper-lazy">
                        <div class="avatar">
                            <img data-src="img/kmt.jpg" class="swiper-lazy">
                        </div>
                        <p class="name">KIỀU MINH TUẤN</p>
                    </div>
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div class="swiper-slide">
                    <div class="info-content swiper-lazy">
                        <div class="avatar">
                            <img data-src="img/kmt.jpg" class="swiper-lazy">
                        </div>
                        <p class="name">KIỀU MINH TUẤN</p>
                    </div>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- footer -->
	<footer class="footer-distributed">
        <div class="footer-left">
            <div class="footer-logo" >
                <img src="img/footer-logo.png" alt="">
            </div>
            <p class="footer-links">
                <a href="#">Trang Chủ</a>
                ·
                <a href="#">Lịch sử</a>
                ·
                <a href="#">Bảng xếp hạng</a>
                ·
                <a href="#">Liên hệ</a>
            </p>
            <p class="footer-company-name">Nhóm con chim non &copy; 2018</p>
        </div>
        <div class="footer-center">
            <h4>Các thông tin liên quan:</h4>
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Khu phố 6, phường Linh Trung</span>Quận Thủ Đức, Tp.Hồ Chí Minh</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p>(08) 37251993</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:DHCNTT_TPHCM@gm.uit.com.vn">DHCNTT_TPHCM@gm.uit.com.vn</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <h4>Thông tin về nhóm:</h4>
                <p class="group-member">Nhóm bao gồm 4 thành viên:</p>
                <p class="group-member">15520801: Dương Văn Thanh</p>
                <p class="group-member">15520680: Phạm Ngọc Quân</p>
                <p class="group-member">15520693: Trần Hưng Quang</p>
                <p class="group-member">15520679: Nguyễn Trung Quân</p>
            </p>
            <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </footer>
    <div id="img-popup">
        <div class="popup-container">
            <i class="fa fa-close"></i>
            <div class="popup-content">
                <div class="img">
                    <img src="img/banner1.jpg">
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="lib/jquery.min.js"></script>
<script type="text/javascript" src="lib/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="lib/swiper-4.4.2/dist/js/swiper.min.js"></script>
<script type="text/javascript" src="lib/jquery.bpopup.min.js"></script>
<script type="text/javascript" src="js/film.js"></script>
</html>