<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="lib/swiper-4.4.2/dist/css/swiper.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="lib/bootstrap-3.1.1-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="lib/footer.css"/>
<link rel="stylesheet" href="css/main.css"/>
<link rel="stylesheet" href="css/history.css"/>
<title>History Page</title>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>
            <a class="navbar-brand" href="./index.html">
                <img src="img/nav-logo-1.png">
            </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="./index.html">TRANG CHỦ</a></li>
                    <li class="active"><a href="./historypage.html">LỊCH SỬ</a></li>
                    <li><a href="./listfilmpage.html">BẢNG XẾP HẠNG</a></li> 
                    <li><a href="./index.html#contact-us">LIÊN HỆ</a></li>
                </ul>
            </div>
            <div class="user-avatar">
                <a><img src="img/user-black.png"></a>
            </div>
        </div>
    </nav>
    <section id="document">
        <div class="document-text">
            <h3 class="title">LỊCH SỬ GIẢI THƯỞNG CÁNH DIỀU VÀNG</h3>
            <div class="document-content">
                <p>Giải thưởng Hội điện ảnh Việt Nam, có tên gọi là Cánh Diều Vàng (tiếng Anh: Golden Kites Awards) là một giải thưởng điện ảnh hàng năm của Hội Điện ảnh Việt Nam. Giải thưởng được trao vào khoảng tháng ba, cho những tác phẩm điện ảnh sản xuất trong năm trước đó. Giải được tổ chức lần đầu tiên là Cánh diều vàng 2002, diễn ra vào đầu 2003. Trong các hạng mục trao giải còn có Cánh diều bạc và Cánh diều đồng, tuy có những năm bị loại bỏ. Mặc dù là giải thưởng điện ảnh, Cách diều vàng còn trao cho cả các tác phẩm truyền hình và phim video.</p>
                <p>Thực chất Cánh diều vàng là một giải thưởng mang tính nội bộ nằm trong hệ thống giải thưởng chung của Hội Liên hiệp văn học nghệ thuật. Hội Liên hiệp văn học nghệ thuật gồm có bảy hội: văn học, âm nhạc, sân khấu, mỹ thuật, nhiếp ảnh, kiến trúc, điện ảnh. Nhằm khuyến khích các nghệ sĩ thông qua tác phẩm, hàng năm Chính phủ cấp kinh phí cho mỗi hội để trao giải thưởng. Giải của Hội Điện ảnh bắt đầu trao từ năm 1993.</p>
                <p>Năm 2003, Hội Điện ảnh Việt Nam đặt tên cho giải của mình là Cánh diều vàng, và kết hợp cùng Đài Truyền hình Việt Nam đưa buổi lễ trao giải lên sóng truyền hình trực tiếp với sự hỗ trợ của các doanh nghiệp thông qua quảng cáo. Qua lịch sử của giải thưởng, nhiều hạng mục của giải được thay đổi. Ở giải Cánh diều vàng 2005, Cánh diều bạc và Cánh diều đồng bị bỏ bớt. Đến giải 2006, Cánh diều bạc được khôi phục và bằng khen thay cho Cánh diều đồng. Năm 2007, Hội Điện ảnh trao tặng thêm Cách diều bạc và hai giải phụ là Giải phim phục vụ khán giả đông nhất và Giải phim bán được nhiều vé nhất.</p>
                <p>Tuy là một giải thưởng điện ảnh lớn của Việt Nam, được kết hợp với Đài Truyền hình Việt Nam phát hình trực tiếp, nhưng Cánh diều vàng thường xuyên bị sự chỉ trích của báo chí vì để lộ giải và tổ chức không tốt. Tính tới 2007, Cánh diều vàng chưa có một buổi họp báo chính thức nào.
                <p>Kịch bản buổi lễ trao giải được tổ chức dựa theo giải thưởng Oscar. Cảnh các bộ phim được đề cử chiếu lên màn hình lớn. Kết quả giải thưởng được giữ trong phong bì kín và do các cặp diễn viên trao, tuy có những năm giải bị lộ trước. Số lượng phim đề cử cũng là 5, mặc dù có năm chỉ gồm 7 phim tranh giải. Việc các hạng mục trao giải thường xuyên thay đổi cũng gây nên các phả ứng của báo chí.</p>
                <p>Về nguyên tắc, giải Cánh diều vàng được tổ chức để trao cho các tác phẩm của năm trước đó, nhưng thực tế, trong các bộ phim được trao giải có những phim chưa kịp công chiếu, có những phim trước đó 3 năm. Trò đùa của Thiên lôi được trao Cánh diều bạc 2003, đến 2007 vẫn chưa ra mắt khán giả. Chuyện của Pao được trao Cánh diều vàng 2005 khi chưa công chiếu. Lọ lem hè phố giải Phim có số lượng khán giả mua vé nhiều nhất của Cánh diều vàng 2006 được công chiếu từ 2004. Tương tự các phim Hải quỳ, Đi trong giấc ngủ, Có một chuyến đi, Giải phóng Sài Gòn, Đường thư, Cầu ông Tượng dù tham dự Cánh diều vàng từ những năm trước, nhưng tới 2007 vẫn chưa đến với khán giả.</p>
                <p>Tất cả những phim đoạt giải cao nhất tại Cánh diều vàng: Người đàn bà mộng du (2003), Thời xa vắng (Cánh diều bạc, không có Cánh diều vàng – giải 2004), Chuyện của Pao (2005) đều là những phim thất bại về doanh thu. Áo lụa Hà Đông, một trong hai phim đoạt Cánh diều vàng 2006, là phim tư nhân đầu tiên đoạt giải và cũng là phim đầu tiên thành công về mặt thương mại.</p>
                <p>Hạng mục trao giải: </p>
                <p>Phim truyện nhựa</p>
                    <ul>
                        <li>Phim truyện nhựa hay nhất</li>
                        <li>Đạo diễn xuất sắc</li>
                        <li>Nữ diễn viên chính xuất sắc</li>
                        <li>Nam diễn viên chính xuất sắc</li>
                        <li>Nữ diễn viên phụ xuất sắc</li>
                        <li>Nam diễn viên phụ xuất sắc</li>
                        <li>Biên kịch xuất sắc</li>
                        <li>Thiết kế mỹ thuật xuất sắc</li>
                        <li>Quay phim xuất sắc</li>
                        <li>Âm thanh xuất sắc</li>
                        <li>Âm nhạc xuất sắc</li>
                        <li>Phim truyện nhựa có số lượng khán giả mua vé nhiều nhất</li>
                        <li>Giải báo chí phê bình điện ảnh dành cho phim truyện nhựa</li>
                    </ul>
                    <p>Phim truyền hình</p>
                    
                    <ul>
                        <li>Phim truyền hình dài tập</li>
                        <li>Phim truyền hình ngắn tập</li>
                        <li>Giải đạo diễn phim truyền hình dài tập</li>
                        <li>Giải đạo diễn phim truyền hình ngắn tập</li>
                    </ul>
                    <p>Phim tài liệu</p>
                    <ul>
                        <li>Phim tài liệu nhựa</li>
                        <li>Phim tài liệu video</li>
                        <li>Đạo diễn xuất sắc phim tài liệu nhựa và video</li>
                    </ul>
                    <p>Phim hoạt hình</p>
                    <p>Phim khoa học</p>
                    <p>Công trình nghiên cứu phê bình điện ảnh</p>
                    <p>Những thay đổi về giải thưởng</p>
                    <ul>
                        <li>Năm 2003: Thêm giải thưởng Cánh diều đặc biệt cho bộ phim Nguyễn Ái Quốc ở Hồng Kông</li>
                        <li>Năm 2004: Thêm giải Phim hợp tác với nước ngoài hay nhất cho Mùa len trâu</li>
                        <li>Năm 2005: Giải Cánh diều bạc, Cánh diều đồng bị bỏ</li>
                            <ul><li>Thêm giải Phim xuất sắc do báo chí bình chọn cho Sống trong sợ hãi</li></ul>
                        <li>Năm 2006: Thêm hai giải mới Phim phục vụ người xem nhiều nhất và Phim bán được nhiều vé nhất</li>
                        <ul>
                            <li>Giải Cánh diều bạc được khôi phục</li>                      
                            <li>Bằng khen thay cho Cánh diều đồng</li>
                        </ul>
                    </ul>
            </div>
        </div>
        <div class="image-slide">
            <div class="title">MỘT SỐ HÌNH ẢNH TRONG GIẢI THƯỞNG</div>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="./img/history/1.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img src="./img/history/2.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img src="./img/history/3.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img src="./img/history/4.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img src="./img/history/5.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img src="./img/history/6.jpg">
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </section>
    <section class="cd-timeline js-cd-timeline">
        <div class="title">CÁC GIẢI THƯỞNG QUA TỪNG THỜI KỲ</div>
        <div class="cd-timeline__container">
            <div class="cd-timeline__block js-cd-block">
                <div class="cd-timeline__img cd-timeline__img--movie js-cd-img">
                    <img src="img/icon/award.svg" alt="Picture">
                </div> <!-- cd-timeline__img -->
                <div class="cd-timeline__content js-cd-content">
                    <ul>
                        <li>Cánh diều bạc - Phim ngắn - Con đường đi học - Hà Lệ Diễm</li>
                        <li>Cánh diều bạc - Phim ngắn - Đường về - Đinh Trần Việt Thúy</li>  
                        <li>Cánh diều bạc - Phim ngắn - Thiếu - Lê Hiếu</li>
                        <li>Cánh diều vàng - Phim truyền hình - Thuyền giấy - Nhâm Minh Hiền</li>
                        <li>Cánh diều bạc - Phim truyền hình - Bình Tây Đại nguyên soái - Phan Hoàng</li>
                        <li>Cánh diều bạc - Phim truyền hình - Huế mùa mai đỏ - NSƯT Trần Vịnh</li>
                        <li>Cánh diều bạc - Phim truyền hình - Chạm vào nổi nhớ - Vũ Hồng Sơn</li>
                        <br>
                        <li>Nam diễn viên xuất sắc - Quang Tuấn</li>
                        <li>Nữ diễn viên xuất sắc - Ngọc Lan</li>
                        <li>Đạo diễn xuất sắc - Nhâm Minh Hiền</li>
                        <li>Biên kịch xuất sắc - Phạm Thùy Nhân</li>
                        <li>Diễn viên triển vọng - Nguyễn Thanh Vân</li>
                    </ul>
                    <span class="cd-timeline__date">
                        Năm 2013
                        <img src="./img/history/2013.JPG">
                    </span>
                </div> <!-- cd-timeline__content -->
            </div> <!-- cd-timeline__block -->

            <div class="cd-timeline__block js-cd-block">
                <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
                    <img src="img/icon/award.svg" alt="Picture">
                </div> <!-- cd-timeline__img -->

                <div class="cd-timeline__content js-cd-content">
                    <ul>
                        <li>Cánh diều bạc - Phim chiếu rạp - Những đứa con của làng - Nguyễn Đức Việt</li>
                        <li>Cánh diều bạc - Phim chiếu rạp - Lạc giới - Phi Tiến Sơn</li>  
                        <li>Cánh diều bạc - Phim chiếu rạp - Hương Ga - Cường Ngô</li>
                        <li>Cánh diều vàng - Phim truyền hình - Cha rơi - Nguyễn Phương Điền</li>
                        <li>Cánh diều bạc - Phim truyền hình - Trái tim có nắng</li>
                        <li>Cánh diều bạc - Phim truyền hình - Người chồng điên</li>
                        <br>
                        <li>Nam diễn viên xuất sắc - Thái Hòa</li>
                        <li>Nữ diễn viên xuất sắc - Bảo Thanh</li>
                        <li>Đạo diễn xuất sắc - Nguyễn Khoa Nam</li>
                        <li>Biên kịch xuất sắc - Nguyễn Quý Dũng</li>
                        <li>Diễn viên triển vọng - Sơn Tùng M-TP</li>
                    </ul>
                    <span class="cd-timeline__date">
                        Năm 2014
                        <img src="./img/history/2014.JPG">
                    </span>
                </div> <!-- cd-timeline__content -->
            </div> <!-- cd-timeline__block -->

            <div class="cd-timeline__block js-cd-block">
                <div class="cd-timeline__img cd-timeline__img--movie js-cd-img">
                    <img src="img/icon/award.svg" alt="Movie">
                </div> <!-- cd-timeline__img -->

                <div class="cd-timeline__content js-cd-content">
                    <ul>
                        <li>Cánh diều vàng - Phim chiếu rạp - Trúng số - Dustin Nguyễn</li>
                        <li>Cánh diều bạc - Phim chiếu rạp - Cuộc đời của Yến - Đinh Tuấn Vũ</li>
                        <li>Cánh diều bạc - Phim chiếu rạp - Người trở về - Đặng Thái Huyền</li>
                        <li>Cánh diều bạc - Phim chiếu rạp - Tôi thấy hoa vàng trên cỏ xanh - Victor Vũ</li>  
                        <li>Cánh diều vàng - Phim truyền hình - Tuổi thanh xuân - Nguyễn Khải Anh</li>
                        <li>Cánh diều bạc - Phim truyền hình - Khi đàn chim trở về - Nguyễn Danh Dũng</li>
                        <li>Cánh diều bạc - Phim truyền hình - Biệt thự Pensée - Châu Thổ - Minh Trương</li>
                        <br>
                        <li>Nam diễn viên xuất sắc - Nguyễn Thanh Tú</li>
                        <li>Nữ diễn viên xuất sắc - Ninh Dương Lan Ngọc</li>
                        <li>Đạo diễn xuất sắc - Đinh Tuấn Vũ</li>
                        <li>Biên kịch xuất sắc - Nguyễn Mạnh Tuấn</li>
                        <li>Diễn viên triển vọng - Bùi Trọng Khang</li>
                    </ul>
                    <span class="cd-timeline__date">
                        Năm 2015
                        <img src="./img/history/2015.jpg">
                    </span>
                </div> <!-- cd-timeline__content -->
            </div> <!-- cd-timeline__block -->

            <div class="cd-timeline__block js-cd-block">
                <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
                    <img src="img/icon/award.svg" alt="Picture">
                </div> <!-- cd-timeline__img -->

                <div class="cd-timeline__content js-cd-content">
                    <ul>
                        <li>Cánh diều vàng - Phim chiếu rạp - Sài Gòn, Anh yêu em - Lý Minh Thắng</li>
                        <li>Cánh diều bạc - Phim chiếu rạp - Vẽ đường cho yêu chạy - Vũ Ngọc Phượng</li>
                        <li>Cánh diều bạc - Phim chiếu rạp - Tấm Cám: Chuyện chưa kể - Ngô Thanh Vân</li>
                        <li>Cánh diều bạc - Phim chiếu rạp - Tôi thấy hoa vàng trên cỏ xanh - Victor Vũ</li>  
                        <li>Cánh diều vàng - Phim truyền hình - Zippo mù tạt và em - NSƯT Trọng Trinh</li>
                        <br>
                        <li>Nam diễn viên xuất sắc - Hà Hiền</li>
                        <li>Nữ diễn viên xuất sắc - Jun Vũ</li>
                        <li>Đạo diễn xuất sắc - Vũ Ngọc Phượng</li>
                        <li>Biên kịch xuất sắc - Ngọc Bích</li>
                        <li>Diễn viên triển vọng - Bùi Trọng Khang</li>
                    </ul>
                    <span class="cd-timeline__date">
                        Năm 2016
                        <img src="./img/history/2016.jpg">
                    </span>
                </div> <!-- cd-timeline__content -->
            </div> <!-- cd-timeline__block -->

            <div class="cd-timeline__block js-cd-block">
                <div class="cd-timeline__img cd-timeline__img--movie js-cd-img">
                    <img src="img/icon/award.svg" alt="Location">
                </div> <!-- cd-timeline__img -->

                <div class="cd-timeline__content js-cd-content">
                    <ul>
                        <li>Cánh diều vàng - Phim chiếu rạp -  Cô Ba Sài Gòn - Lộc Trần - Kay Nguyễn</li>
                        <li>Cánh diều bạc - Phim chiếu rạp -  Em Chưa 18 - Lê Thanh Sơn</li>
                        <li>Cánh diều bạc - Phim chiếu rạp -  Cô Gái Đến Từ Hôm Qua - Phan Gia Nhật Linh</li>
                        <li>Cánh diều bạc - Phim chiếu rạp -  Đảo Của Dân Ngụ Cư - Hồng Ánh</li>  
                        <li>Cánh diều vàng - Phim truyền hình -  Thương Nhớ Ở Ai - Lưu Trọng Ninh</li>
                        <li>Cánh diều bạc - Phim truyền hình - Lặng Yên Dưới Vực - Đào Duy Phúc</li>
                        <li>Cánh diều bạc - Phim truyền hình - Sống Trong Bóng Đêm - Phương Điền</li>
                        <br>
                        <li>Nam diễn viên xuất sắc -  Kiều Minh Tuấn</li>
                        <li>Nữ diễn viên xuất sắc - Nhã Phương</li>
                        <li>Đạo diễn xuất sắc - Lê Thanh Sơn</li>
                        <li>Biên kịch xuất sắc - Kay Nguyễn</li>
                        <li>Diễn viên triển vọng - Bùi Trọng Khang</li>
                    </ul>
                    <span class="cd-timeline__date">
                        Năm 2017
                        <img src="./img/history/2017.jpg">
                    </span>
                </div> <!-- cd-timeline__content -->
            </div> <!-- cd-timeline__block -->
        </div>
    </section>
    <!-- footer -->
	<footer class="footer-distributed">
        <div class="footer-left">
            <div class="footer-logo" >
                <img src="img/footer-logo.png" alt="">
            </div>
            <p class="footer-links">
                <a >Trang Chủ</a>
                ·
                <a >Lịch sử</a>
                ·
                <a >Bảng xếp hạng</a>
                ·
                <a >Liên hệ</a>
            </p>
            <p class="footer-company-name">Nhóm con chim non &copy; 2018</p>
        </div>
        <div class="footer-center">
            <h4>Các thông tin liên quan:</h4>
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Khu phố 6, phường Linh Trung</span>Quận Thủ Đức, Tp.Hồ Chí Minh</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p>(08) 37251993</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:DHCNTT_TPHCM@gm.uit.com.vn">DHCNTT_TPHCM@gm.uit.com.vn</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <h4>Thông tin về nhóm:</h4>
                <p class="group-member">Nhóm bao gồm 4 thành viên:</p>
                <p class="group-member">15520801: Dương Văn Thanh</p>
                <p class="group-member">15520680: Phạm Ngọc Quân</p>
                <p class="group-member">15520693: Trần Hưng Quang</p>
            </p>
            <div class="footer-icons">
                <a ><i class="fa fa-facebook"></i></a>
                <a ><i class="fa fa-twitter"></i></a>
                <a ><i class="fa fa-linkedin"></i></a>
                <a ><i class="fa fa-github"></i></a>
            </div>
        </div>
    </footer>
</body>
<script type="text/javascript" src="lib/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="lib/swiper-4.4.2/dist/js/swiper.min.js"></script>
<script type="text/javascript" src="lib/jquery.bpopup.min.js"></script>
<script type="text/javascript" src="js/history.js"></script>
</html>