<html>
<link rel="stylesheet" href="lib/swiper-4.4.2/dist/css/swiper.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="lib/bootstrap-3.1.1-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="lib/footer.css"/>
<link rel="stylesheet" href="css/main.css"/>
<link rel="stylesheet" href="css/listfilm.css"/>
<title>List Film Page</title>
<body>
    <section class="nav">
        <div class="container">
            <div class="logo">
                <img src="img/nav-logo-1.png">
            </div>
            <div class="right-block">
                <ul>
                    <li><a href="#">TRANG CHỦ</a></li>
                    <li><a href="#">LỊCH SỬ</a></li>
                    <li class="active"><a href="#">BẢNG XẾP HẠNG</a></li>
                    <li><a href="#">LIÊN HỆ</a></li>
                </ul>
                <div class="user-avatar">
                    <img src="img/user-black.png">
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
    <section id="rank-list">
        <div class="rank-list-container">
            <h3 class="title">BẢNG XẾP HẠNG CÁC PHIM NỔI BẬT</h3>
            <div class="rank-container">
                <table>
                    <tr class="t-row-header">
                        <th class="col-1">STT</th>
                        <th class="col-2">Banner</th>
                        <th class="col-3">Tên phim</th>
                        <th class="col-4">Đ/G</th>
                        <th class="col-5">Tóm tắt</th>
                        <th class="col-6"></th>
                    </tr>
                    <tr class="t-row">
                        <td class="col-1">1</td>
                        <td class="col-2">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="img/nham-mat-thay-mua-he.jpg">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="img/nham-mat-thay-mua-he-1.jpg">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="img/nham-mat-thay-mua-he-2.jpg">
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="col-3">Nhắm mắt thấy mùa hè<br>(Cao Thuý Nhi)</td>
                        <td class="col-4"><p><span>5</span><i class="fa fa-star star"></p></td>
                        <td class="col-5">
                            <p><i>Nhắm mắt thấy mùa hè</i> có thể nói là phim nghệ thuật duy nhất trong số phim ra rạp nửa đầu năm. Đã có ai đó đánh đồng phim này vào thể loại phim “về tình yêu giới trẻ”, chung một “rọ” với những phim tình cảm khác. Song nói nó là phim tình cảm không sai, nhưng nếu không mở ngoặc thêm thì không đúng.</p>
                            <p>Dù là phim tình cảm, Nhắm mắt thấy mùa hè trên tầm hầu hết những tác phẩm cùng thể loại ra mắt trong suốt thập niên qua như Thần tượng (Nguyễn Quang Huy), 12 chòm sao: Vẽ đường cho yêu chạy và 100 ngày bên em (Vũ Ngọc Phượng), Cô gái đến từ hôm qua (Phan Gia Nhật Linh), Cho em gần anh thêm chút nữa (Văn Công Viễn)…</p>
                        </td>
                        <td class="col-6">
                            <a>
                                <div class="see-more-info-btn">
                                    <div class="btn-content">
                                        <i class="fa fa-chevron-right arrow"></i>
                                    </div>                                  
                                </div>
                            </a>
                        </td>
                    </tr>
                    <tr class="t-row">
                        <td class="col-1">2</td>
                        <td class="col-2">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="img/thang-nam-ruc-ro.jpg">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="img/thang-nam-ruc-ro-1.jpg">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="img/thang-nam-ruc-ro-2.jpg">
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="col-3">Tháng năm rực rỡ<br>(Nguyễn Quang Dũng)</td>
                        <td class="col-4"><p><span>5</span><i class="fa fa-star star"></p></td>
                        <td class="col-5">
                            <p>Là phim remake từ Sunny của Hàn Quốc, với cá nhân người viết, Tháng năm rực rỡ của “Dũng khùng” hay hơn bản gốc. Kịch bản Việt hoá tinh chỉnh khéo léo (cắt bớt nhân vật thừa, thay đổi hợp lý profile một số nhân vật, lồng ghép câu chuyện vào đời sống xã hội Việt Nam một cách thông minh), lấy bối cảnh đặc sắc thu hút hơn hẳn bối cảnh tầm thường ở bản gốc, diễn viên xinh trai đẹp gái có diễn xuất nhỉnh hơn diễn viên Hàn, quay phim có nhiều sáng tạo (đoạn cầm ô hát dưới mưa tribute Singing in the rain, đoạn chuyển cảnh Hiểu Phương bé và Hiểu Phương lớn giữa trời mưa Đà Lạt, đoạn dàn cảnh trận hỗn chiến của 2 nhóm nữ quái giữa trận đàn áp biểu tình trước 75)… là những điểm cộng góp phần làm nên thành công của bộ phim.</p>
                        </td>
                        <td class="col-6">
                            <a>
                                <div class="see-more-info-btn">
                                    <div class="btn-content">
                                        <i class="fa fa-chevron-right arrow"></i>
                                    </div>                                  
                                </div>
                            </a>
                        </td>
                    </tr>
                    <tr class="t-row">
                        <td class="col-1">3</td>
                        <td class="col-2">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="img/ong-kinh-sat-nhan.jpg">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="img/ong-kinh-sat-nhan-1.jpg">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="img/ong-kinh-sat-nhan-2.jpg">
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="col-3">Ống kính sát nhân<br>(Nguyễn Hữu Hoàng)</td>
                        <td class="col-4"><p><span>5</span><i class="fa fa-star star"></p></td>
                        <td class="col-5">
                            <p><i>Ống kính sát nhân</i> là phim đầu tay của đạo diễn trẻ Nguyễn Hữu Hoàng. Yếu tố “trẻ” và “đầu tay” này khiến anh nhận được nhiều bình luận dạng xoa đầu, sau khi phân tích khen – chê, giống với nhận xét của nhiều người review hay cả giới làm nghề khi nói về Nhắm mắt thấy mùa hè của Cao Thuý Nhi và các cộng sự của cô.</p>
                            <p>Nói một cách bình đẳng, 2 bộ phim này không hề cần những cái nhìn ưu ái vẫn có giá trị đáng kể (độc lập với yếu tố tuổi tác). Nhắm mắt thấy mùa hè như đã nói, nó trưởng thành và hoàn thiện hơn nhiều tác phẩm của những người lớn tuổi hay kinh nghiệm hơn.</p>
                        </td>
                        <td class="col-6">
                            <a>
                                <div class="see-more-info-btn">
                                    <div class="btn-content">
                                        <i class="fa fa-chevron-right arrow"></i>
                                    </div>                                  
                                </div>
                            </a>
                        </td>
                    </tr>
                    <tr class="t-row">
                        <td class="col-1">4</td>
                        <td class="col-2">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="img/100-ngay-ben-em.jpg">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="img/100-ngay-ben-em-1.jpg">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="img/100-ngay-ben-em-2.jpg">
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="col-3">100 ngày bên em<br>(Vũ Ngọc Phượng)</td>
                        <td class="col-4"><p><span>5</span><i class="fa fa-star star"></p></td>
                        <td class="col-5">
                            <p><i>100 ngày bên em</i> là một bộ phim ngôn tình nhưng cũng có ý tứ, duyên dáng, văn minh và có công xoá đi mác “hotgirl đóng phim” cho gương mặt tiềm năng của thế hệ diễn viên mới trong thời điểm hiện tại – Khả Ngân. Xét mặt bằng phim từ đầu năm đến giờ, thì phim này vẫn thuộc Top đầu.</p>
                            <p>Vũ Ngọc Phượng là một đạo diễn được phát hiện từ thời phim ngắn Yxineff – liên hoan phim ngắn trực tuyến khá nổi, hoạt động trong giai đoạn 2010 – 2014. Anh được biết đến ngay từ năm thi đầu tiên với bộ phim L.O.V.E được giải Trái tim hồng do khán giả bình chọn.</p>
                        </td>
                        <td class="col-6">
                            <a>
                                <div class="see-more-info-btn">
                                    <div class="btn-content">
                                        <i class="fa fa-chevron-right arrow"></i>
                                    </div>                                  
                                </div>
                            </a>
                        </td>
                    </tr>
                    <tr class="t-row">
                        <td class="col-1">5</td>
                        <td class="col-2">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="img/lat-mat.jpg">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="img/lat-mat-1.jpg">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="img/lat-mat-2.jpg">
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="col-3">Lật mặt: Ba chàng khuyết<br>(Lý Hải)</td>
                        <td class="col-4"><p><span>5</span><i class="fa fa-star star"></p></td>
                        <td class="col-5">
                            <p><i>Ba chàng khuyết</i> có kịch bản khá lớp lang, cài cắm nhiều lần twist rất hợp lý, bất ngờ và thú vị (đặc biệt là so với twist trong phim Việt đều thường ngớ ngẩn, vô lý, tuỳ tiện như kiểu Lôi Báo của Victor Vũ hay Ở đây có nắng của Việt Linh). Riêng việc nghĩ ra một câu chuyện về một bộ ba khuyết tật: câm điếc – mù loà – bại liệt cũng là sự mới mẻ trong đa phần các câu chuyện kể chẳng mấy đặc sắc của điện ảnh Việt.</p>
                            <p>Phim giải trí tốt (dù có thể có người không thích các mảng miếng hài trong phim), diễn xuất ổn (trừ em gái Thái Lan), nói chung là thuộc diện phim đáng xem nhất nửa đầu năm. Với ba phim đều đại thắng doanh thu: 72 tỷ – 52 tỷ và 85,5 tỷ, vừa viết kịch bản vừa đạo diễn vừa sản xuất, kể Lý Hải cũng không vừa.</p>
                        </td>
                        <td class="col-6">
                            <a>
                                <div class="see-more-info-btn">
                                    <div class="btn-content">
                                        <i class="fa fa-chevron-right arrow"></i>
                                    </div>                                  
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
    <section id="film-of-week">
        <div class="film-of-week-container">
            <h3 class="title">MỘT SỐ PHIM NỔI BẬT TRONG TUẦN</h3>
            <div class="swiper-container content">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="film-tag">
                            <div class="top-block">
                                <div class="star-block">
                                    <i class="fa fa-star star active-star"></i>
                                    <i class="fa fa-star star active-star"></i>
                                    <i class="fa fa-star star active-star"></i>
                                    <i class="fa fa-star star active-star"></i>
                                    <i class="fa fa-star star active-star"></i>
                                </div>
                                <div class="image-swiper swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="img/quynh-bup-be-0.jpg">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="img/quynh-bup-be-1.jpg">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="img/quynh-bup-be-2.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-block">
                                <div class="right-pair col-md-9">
                                    <div class="name-block">
                                        <h3 class="title">Quỳnh búp bê - Phim truyền hình dài tập</h3>
                                    </div>
                                    <div class="content-block">Bộ phim "Quỳnh búp bê" kể về cuộc đời 3 cô gái Quỳnh - xinh đẹp, bí ẩn; Lan - sắc sảo, lạnh lùng; My - bốc lửa, xảo quyệt bị đưa đẩy vào kiếp gái mại dâm. Bộ phim giúp khản giả có cái nhìn rõ hơn vào những góc khuất trong cuộc sống của họ, cũng dễ có cái nhìn thấu hiểu và bao dung hơn đối với những kiếp người tưởng chừng ...</div>
                                </div>
                                <div class="left-pair col-md-3">
                                    <div class="extra-info-block">
                                        <p>Đạo diễn: NSƯT Mai Hồng Phong</p>
                                        <p>Diễn viên: Phương Oanh, Thanh Hương, Thu Quỳnh, Doãn Quốc Đam, Minh Tiệp, NSƯT Nguyễn Hải</p>
                                        <p>Nhà sản xuất: VTV</p>
                                    </div>
                                    <div class="btn-block">
                                        <a>
                                            <div class="btn w-btn">
                                                Xem thêm
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="film-tag">
                            <div class="top-block">
                                <div class="star-block">
                                    <i class="fa fa-star star active-star"></i>
                                    <i class="fa fa-star star active-star"></i>
                                    <i class="fa fa-star star active-star"></i>
                                    <i class="fa fa-star star active-star"></i>
                                    <i class="fa fa-star star "></i>
                                </div>
                                <div class="image-swiper swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="img/gao-nep-gao-te-0.jpg">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="img/gao-nep-gao-te-1.jpg">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="img/gao-nep-gao-te-2.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-block">
                                <div class="right-pair col-md-9">
                                    <div class="name-block">
                                        <h3 class="title">Gạo nếp gạo tẻ - Phim truyền hình dài tập</h3>
                                    </div>
                                    <div class="content-block">Gạo nếp gạo tẻ là bộ phim thuộc thể loại tâm lý tình cảm. Phim được sản xuất năm 2016 và chiếu trên HTV2 trong năm 2018. Phim Việt hóa từ kịch bản nổi tiếng của Hàn Quốc là Phim Wang's Family - tác phẩm truyền hình có đề tài gia đình ăn khách nhất Hàn Quốc năm 2013.</div>
                                </div>
                                <div class="left-pair col-md-3">
                                    <div class="extra-info-block">
                                        <p>Dựa trên	Wang's Family (Tiếng Hàn: 왕가네 식구들)</p>
                                        <p>Đạo diễn: Võ Thạch Thảo</p>
                                        <p>Nhà phân phối: Đài Truyền hình Thành phố Hồ Chí Minh</p>
                                    </div>
                                    <div class="btn-block">
                                        <a>
                                            <div class="btn w-btn">
                                                Xem thêm
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="film-tag">
                            <div class="top-block">
                                <div class="star-block">
                                    <i class="fa fa-star star active-star"></i>
                                    <i class="fa fa-star star active-star"></i>
                                    <i class="fa fa-star star active-star"></i>
                                    <i class="fa fa-star star active-star"></i>
                                    <i class="fa fa-star star "></i>
                                </div>
                                <div class="image-swiper swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="img/sieu-sao-sieu-ngo-0.jpg">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="img/sieu-sao-sieu-ngo-1.jpg">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="img/sieu-sao-sieu-ngo-2.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-block">
                                <div class="right-pair col-md-9">
                                    <div class="name-block">
                                        <h3 class="title">Siêu sao siêu ngố - Phim chiếu rạp</h3>
                                    </div>
                                    <div class="content-block">Siêu Sao Siêu Ngố là bộ phim hài tình cảm, với sự xuất hiện của danh hài Trường Giang cùng lúc đóng hai vai. Thế Sơn và Thế Tùng là hai anh em sinh đôi bị chia cắt vì cha mẹ chia tay. Người anh Thế Sơn sống cùng cha, trở thành một ngôi sao nổi tiếng với hàng triệu người hâm mộ. Người em Thế Tùng thì an phận nuôi heo ở quê nhà...</div>
                                </div>
                                <div class="left-pair col-md-3">
                                    <div class="extra-info-block">
                                        <p>Đạo diễn: Đức Thịnh</p>
                                        <p>Diễn viên: Trường Giang, Sam, Đức Thịnh, Thanh Thúy,...</p>
                                        <p>Nhà sản xuất: TP Entertainment</p>
                                    </div>
                                    <div class="btn-block">
                                        <a>
                                            <div class="btn w-btn">
                                                Xem thêm
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="film-tag">
                            <div class="top-block">
                                <div class="star-block">
                                    <i class="fa fa-star star active-star"></i>
                                    <i class="fa fa-star star active-star"></i>
                                    <i class="fa fa-star star active-star"></i>
                                    <i class="fa fa-star star active-star"></i>
                                    <i class="fa fa-star star active-star"></i>
                                </div>
                                <div class="image-swiper swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="img/ve-que-an-tet-0.jpg">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="img/ve-que-an-tet-1.jpg">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="img/ve-que-an-tet-2.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-block">
                                <div class="right-pair col-md-9">
                                    <div class="name-block">
                                        <h3 class="title">Về quê ăn Tết - Phim chiếu rạp</h3>
                                    </div>
                                    <div class="content-block">Về Quê Ăn Tết là một bộ phim điện ảnh hài Việt Nam ra mắt vào dịp Tết Kỷ Dậu 2018 do Nguyễn Hoàng Anh làm đạo diễn và biên kịch, được Studio 68 của Ngô Thanh Vân sản xuất. Phim có sự tham gia của các diễn viên Ngô Thanh Vân, Jun Phạm, Trung Dân, Ngọc Tưởng, Puka, Hải Triều, Tiko Tiến Công. Đây là lần đầu tiên Jun Phạm...</div>
                                </div>
                                <div class="left-pair col-md-3">
                                    <div class="extra-info-block">
                                        <p>Đạo diễn: Nguyễn Hoàng Anh</p>
                                        <p>Diễn viên: Ngô Thanh Vân, Jun Phạm, Trung Dân, Ngọc Tưởng, Puka, Hải Triều,...</p>
                                        <p>Nhà sản xuất: Ánh Sao Productions VAA</p>
                                    </div>
                                    <div class="btn-block">
                                        <a>
                                            <div class="btn w-btn">
                                                Xem thêm
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>            
            </div>
        </div>
    </section>
    <!-- footer -->
	<footer class="footer-distributed">
        <div class="footer-left">
            <div class="footer-logo" >
                <img src="img/footer-logo.png" alt="">
            </div>
            <p class="footer-links">
                <a href="#">Trang Chủ</a>
                ·
                <a href="#">Lịch sử</a>
                ·
                <a href="#">Bảng xếp hạng</a>
                ·
                <a href="#">Liên hệ</a>
            </p>
            <p class="footer-company-name">Nhóm con chim non &copy; 2018</p>
        </div>
        <div class="footer-center">
            <h4>Các thông tin liên quan:</h4>
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Khu phố 6, phường Linh Trung</span>Quận Thủ Đức, Tp.Hồ Chí Minh</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p>(08) 37251993</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:DHCNTT_TPHCM@gm.uit.com.vn">DHCNTT_TPHCM@gm.uit.com.vn</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <h4>Thông tin về nhóm:</h4>
                <p class="group-member">Nhóm bao gồm 4 thành viên:</p>
                <p class="group-member">15520801: Dương Văn Thanh</p>
                <p class="group-member">15520680: Phạm Ngọc Quân</p>
                <p class="group-member">15520693: Trần Hưng Quang</p>
                <p class="group-member">15520679: Nguyễn Trung Quân</p>
            </p>
            <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </footer>
</body>
<script type="text/javascript" src="lib/jquery.min.js"></script>
<script type="text/javascript" src="lib/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="lib/swiper-4.4.2/dist/js/swiper.min.js"></script>
<script type="text/javascript" src="lib/jquery.bpopup.min.js"></script>
<script type="text/javascript" src="js/listfilm.js"></script>
</html>