<html>
<link rel="stylesheet" href="lib/swiper-4.4.2/dist/css/swiper.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="lib/bootstrap-3.1.1-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="lib/footer.css"/>
<link rel="stylesheet" href="css/main.css"/>
<link rel="stylesheet" href="css/news.css"/>
<title>News Page</title>
<body>
    <section class="nav">
        <div class="container">
            <div class="logo">
                <a href="./index.html">
                    <img src="img/nav-logo-1.png">
                </a>
            </div>
            <div class="right-block">
                <ul>
                    <li><a href="./index.html">TRANG CHỦ</a></li>
                    <li><a href="./historypage.html">LỊCH SỬ</a></li>
                    <li><a href="./listfilmpage.html">BẢNG XẾP HẠNG</a></li>
                    <li><a href="./index.html#contact-us">LIÊN HỆ</a></li>
                </ul>
                <div class="user-avatar">
                    <a>
                        <img src="img/user-black.png">
                    </a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
    <section id="news">
        <div class="fuil-container row">
            <div class="new-content col-md-8">
                <div class="new-img">
                    <img src="./img/banner1.jpg">
                </div>
                <hr class="new-line">
                <div class="content">
                    <div class="contact">
                        <div class="post-date">
                            <p>23</p>
                            <p>DEC</p>
                            <p>2018</p>
                            <hr>
                            <p>12:19 pm</p>
                        </div>
                        <div class="share">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-google-plus"></i>
                        </div>
                    </div>
                    <div class="text">
                        <div class="">
                            <h3 class="title">Nhìn lại Cánh diều vàng 2017</h3>
                            <p class="author">Tú Anh</p>
                        </div>
                        <hr>
                        <div class="main-text">
                            <p>Giải thưởng Cánh diều vàng năm nay được đánh giá đã có sự đổi mới phù hợp với thực tế điện ảnh Việt.</p>
                            <img src="./img/news/0.jpg">
                            <p>Theo nhận xét của giới chuyên môn, điện ảnh Việt Nam như đang được trẻ hóa. Nhiều bộ phim mang tính giải trí cao nhưng không còn là hài nhảm, 1/3 trong số các phim tham dự đều có chất lượng tốt và khá đồng đều. Những cái tên như Em chưa 18, Cô Ba Sài Gòn, Cô gái đến từ hôm qua… đều đạt kỷ lục doanh thu phòng vé trong thời gian vừa qua.</p>
                            <p>Bộ phim điện ảnh Cô Ba Sài Gòn với đề tài thời trang mang yếu tố xuyên không kỳ ảo của đạo diễn Trần Bửu Lộc và Kay Nguyễn đã đạt giải Cánh diều vàng cho hạng mục phim xuất sắc nhất và giải cá nhân cho biên kịch xuất sắc nhất. Tuy bị nhận xét là có một vài hạt sạn về tâm lý nhân vật và logic thời gian, nhưng Cô Ba Sài Gòn được xem như một bộ phim có chất lượng đồng đều nhất về biên kịch, sản xuất. Đặc biệt khâu thiết kế phục trang cho phim là một điểm sáng.</p>
                            <img src="./img/news/1.jpg">
                            <p>Dành tặng những lời có cánh cho Cô Ba Sài Gòn, đạo diễn Lê Thanh Sơn, người dành giải ở hạng mục đạo diễn xuất sắc nhất cho phim Em chưa 18 nhận xét rằng:“Theo tinh thần tôn vinh dân tộc và quảng bá cho tà áo dài Việt Nam thì Cô Ba Sài Gòn hoàn toàn xứng đáng. Mình rất mừng cho bộ phim đó vì Em chưa 18 là một bộ phim cận đại khác không đúng ngạch này thì rất may mắn Việt Nam mình có nhiều sân chơi, giải để nhiều bộ phim có những điểm rơi được tôn vinh đúng hơn”</p>
                            <p>Trong số các giải thưởng, không thể không kể đến những bộ phim thuộc dòng nghệ thuật kén người xem. Đảo của dân ngụ cư vinh dự giành giải ở hạng mục quay phim xuất sắc nhất (quay phim Lý Thái Dũng) và diễn viên phụ xuất sắc nhất (diễn viên Nhan Phúc Vinh – vai Miên).</p>
                            <img src="./img/news/2.jpg">
                            <p>Ở hạng mục phim truyền hình, bộ phim Thương nhớ ở ai giành được 4 giải thưởng: giải thưởng phim truyền hình xuất sắc nhất, đạo diễn xuất sắc nhất (đạo diễn Lưu Trọng Ninh, Bùi Thọ Thịnh), quay phim xuất sắc phim truyền hình (NSƯT Hoàng Tích Thiện) và nam diễn viên phụ xuất sắc phim truyền hình (Jimmy Khánh – vai Đột) . Lấy đề tài nông thôn, gần đây dường như đã bị lãng quên trong điện ảnh Việt, Thương nhớ ở ai được đầu tư kỹ lưỡng và chỉn chu về mặt dàn diễn viên, phục trang, bối cảnh.</p>
                            <p>Đạo diễn Lưu Trọng Ninh tâm sự: “Lần đầu tiên tôi đạt được giải về truyền hình, cũng có một cảm xúc mới mẻ với mình. Có lần tôi đã nói rằng, điện ảnh là một tòa lâu đài nhưng không dễ ai bước vào, truyền hình như đường phố và mọi người đều có thể dễ dàng đến với nó. Và thực sự người nghệ sĩ cần phải đến với đường phố, tôi nghĩ Thương nhớ ở ai sẽ có hàng triệu người xem. Đến bây giờ có nhiều người vẫn hỏi để xem lại bộ phim này. Và tôi rất hạnh phúc vì điều đó.”</p>
                            <p>Nếu giải thưởng phim truyện điện ảnh phần lớn thuộc các bộ phim thuộc hãng phim tư nhân thì, đối với dòng phim tài liệu, các giải thưởng thuộc về các hãng phim Nhà nước. Đạt giải Cánh diều vàng, phim tài liệu Ngày về của đạo diễn Phạm Thanh Hùng, điện ảnh Quân đội Nhân dân như tấm lòng tri ân đến những người thương bệnh binh, đã bỏ lại một phần xương máu của mình tại chiến trường để đất nước có một “ngày về” với hòa bình.</p>
                            <img src="./img/news/3.jpg">
                            <p>Đạo diễn Phạm Thanh Hùng tâm sự: “Khi nhận được giải thưởng Cánh diều vàng này tôi và các thành viên trong đoàn làm phim rất vui, vui vì nhận được sự ghi nhận công sức của một tập thể điện ảnh quân đội và sự nỗ lực, cố gắng của một ekip làm phim. Tôi muốn gửi lời chúc sức khỏe tới các bác thương bệnh binh đang làm việc tại trung tâm và lời cảm ơn chân thành tới tập thể y bác sĩ, điều dưỡng tại hai trung tâm điều dưỡng thương binh nặng Thuận Thành và Nho Quan đã tạo điều kiện tốt cho đoàn làm phim thực hiện tốt nhiệm vụ của mình”</p>
                            <img src="./img/news/4.jpg">
                            <p>Nhắc đến đóng góp cho nền điện ảnh Việt Nam không thể không nhắc đến những công trình nghiên cứu lý luận, phê bình điện ảnh. Giải cánh diều Vàng năm nay cho Giáo trình Đại học Phim tài liệu cho Giáo sư, Tiến sĩ Trần Thanh Hiệp. Phát biểu tại lễ trao giải, nhà báo Đinh Trọng Tuấn đã bày tỏ “Trong thời buổi kinh tế thị trường, mọi thứ đều diễn ra  khi đó có những người vẫn âm thầm xem phim, âm thầm nghiên cứu và âm thầm viết lý luận phê bình và có những đóng góp âm thầm cho điện ảnh Việt Nam. Tôi luôn vô cùng kính trọng những con người đó”.</p>
                            <p>Điểm mới đáng chú ý năm nay của Cánh diều vàng là sự tham dự của nhiều bộ phim re-make (phim chuyển thể từ kịch bản nước ngoài). Tuy không được trao giải cho phim nhưng nhiều nghệ sĩ diễn viên đóng góp được xem xét trao giải. Những cái tên như “Yêu đi đừng sợ”, “Sắc đẹp ngàn cân” hay “Người phán xử” đều là những bộ phim chiếm được nhiều tình cảm của khán giả trong thời gian qua. Hội đồng nghệ thuật bày tỏ rằng đã đến lúc cần đánh giá kỹ càng hơn đối với những bộ phim Việt hóa có sáng tạo.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new-content col-md-8">
                <div class="new-img">
                    <img src="./img/banner3.jpg">
                </div>
                <hr class="new-line">
                <div class="content">
                    <div class="contact">
                        <div class="post-date">
                            <p>23</p>
                            <p>DEC</p>
                            <p>2018</p>
                            <hr>
                            <p>12:19 pm</p>
                        </div>
                        <div class="share">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-google-plus"></i>
                        </div>
                    </div>
                    <div class="text">
                        <div class="">
                            <h3 class="title">Cánh diều vàng 2017: Điện ảnh Việt Nam như đang trẻ lại</h3>
                            <p class="author">Báo lao động</p>
                        </div>
                        <hr>
                        <div class="main-text">
                            <p>Lễ trao giải thưởng điện ảnh Cánh diều vàng 2017 20h tối 15.4 do Hội Điện ảnh Việt Nam tổ chức diễn ra tại Nhà hát Lớn, Hà Nội.</p>
                            <p>NSND Đặng Nhật Minh, đạo diễn của những bộ phim nổi tiếng như "Bao giờ cho đến Tháng Mười", "Đừng đốt" cho rằng, điện ảnh Việt Nam như đang trẻ lại.</p>
                            <p>Theo ông, các phim giải trí năm nay tốt hơn những năm trước, không có phim hài nhảm. Tuy nhiên, tính giải trí chỉ dành cho khán giả trẻ chứ không phải dành cho khán giả phổ thông.</p>
                            <img src="./img/news/1-0.jpg">
                            <p>NSND Hoàng Dũng, vai ông trùm Phan Quân trong bộ phim truyền hình "Người phán xử" chia sẻ cảm xúc khi bộ phim không được xét trao giải Cánh diều vàng, Cánh diều bạc và Bằng khen vì làm lại từ kịch bản nước ngoài: "Tôi thấy không có gì phải tiếc nuối vì giải thưởng lớn nhất là sự đón nhận của khán giả thì bộ phim đã được rồi".</p>
                            <img src="./img/news/1-1.jpg">
                            <p>Đánh giá trước thềm Lễ trao giải, bà Nguyễn Thị Hồng Ngát - Phó Chủ tịch Thường trực Hội Điện ảnh Việt Nam cho biết, trong số 13 phim điện ảnh tranh giải Cánh diều năm nay, bà có cảm tình nhất với các bộ phim "Em chưa 18" và "Cô gái đến từ hôm qua".</p>
                            <img src="./img/news/1-2.jpg">
                            <p>Đạo diễn Hồng Ngát cho hay, năm nay, có nhiều phim giàu tính giải trí nhưng vẫn thành công về mặt nghệ thuật như "Em chưa 18". Điều đó chứng tỏ các nhà sản xuất vừa phải đón đầu thị trường vừa vẫn đảm bảo yếu tố nghệ thuật.</p>
                            <p>Theo Phó chủ tịch Hội Điện ảnh Việt Nam, năm nay, tiêu chí chấm phim bao gồm tính sáng tạo, tính nghệ thuật, độ ảnh hưởng, tính dân tộc.</p>        
                            <p>"Các phim năm nay khẳng định phim Việt hoàn toàn có thể chống đỡ trước làn sóng "ngoại lai" của phim nước ngoài", bà cho biết.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news-related col-md-4">
                <h3 class="news-related-title">Các tin liên quan:</h3>
                <div class="new-tag">
                    <div class="new-tag-img col-md-5">
                        <img src="./img/banner2.jpg">
                    </div>
                    <div class="new-tag-content col-md-7">
                        <h3 class="new-tag-title">Cánh diều vàng 2017 đã có chủ</h3>
                        <p class="sumary">Phim truyện xuất sắc:
                            <br>
                            Cánh diều vàng: Sài Gòn anh yêu em
                            <br>
                            Cánh diều bạc: 12 chòm sao: Vẽ đường cho yêu chạy và Tấm Cám: Chuyện chưa kể
                            <br>
                            Bằng khen: Cha cõng con, Sút và Bao giờ có yêu nhau
                            <br>
                            Bằng khen của BGK: Tik Tak anh yêu em
                            <br>...
                        </p>
                    </div>
                </div>
                <div class="new-tag">
                    <div class="new-tag-img col-md-5">
                        <img src="./img/banner4.jpg">
                    </div>
                    <div class="new-tag-content col-md-7">
                        <h3 class="new-tag-title">Trương Ngọc Ánh được sắp xếp trao giải cho Trần Bảo Sơn</h3>
                        <p class="sumary">Đêm 8/1, tại Nhà hát TP. HCM, giải thưởng “Ngôi sao xanh” đã vinh danh Trần Bảo Sơn cùng nhiều nghệ sỹ khác trong ngành công nghiệp điện ảnh và truyền hình tại Việt Nam. Trương Ngọc Ánh đã xướng tên chồng cũ trong hạng mục danh giá: Nam diễn viên điện ảnh xuất sắc nhất.</p>
                    </div>
                </div>
                <div class="new-tag">
                    <div class="new-tag-img col-md-5">
                        <img src="./img/banner5.jpg">
                    </div>
                    <div class="new-tag-content col-md-7">
                        <h3 class="new-tag-title">Kim Tuyến bất ngờ nhận giải Cánh diều vàng</h3>
                        <p class="sumary">Tại Lễ trao giải Cánh diểu vàng 2015 diễn ra tại Hà Nội đêm 20/4,DVDA Kim Tuyến đã bất ngờ nhận được giải thưởng Nữ diễn viên phụ xuất sắc nhật với bộ phim Tuổi Thanh Xuân.
                            <br>Tham gian trong Lễ trao giải,Kim Tuyến đã chọn chiếc đầm mằ trắng nhẹ nhàng và tinh khiết với kiểu dáng trẻ trung,sang trọng của NTK Chung Thanh Phong.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- footer -->
	<footer class="footer-distributed">
        <div class="footer-left">
            <div class="footer-logo" >
                <img src="img/footer-logo.png" alt="">
            </div>
            <p class="footer-links">
                <a >Trang Chủ</a>
                ·
                <a >Lịch sử</a>
                ·
                <a >Bảng xếp hạng</a>
                ·
                <a >Liên hệ</a>
            </p>
            <p class="footer-company-name">Nhóm con chim non &copy; 2018</p>
        </div>
        <div class="footer-center">
            <h4>Các thông tin liên quan:</h4>
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Khu phố 6, phường Linh Trung</span>Quận Thủ Đức, Tp.Hồ Chí Minh</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p>(08) 37251993</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:DHCNTT_TPHCM@gm.uit.com.vn">DHCNTT_TPHCM@gm.uit.com.vn</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <h4>Thông tin về nhóm:</h4>
                <p class="group-member">Nhóm bao gồm 4 thành viên:</p>
                <p class="group-member">15520801: Dương Văn Thanh</p>
                <p class="group-member">15520680: Phạm Ngọc Quân</p>
                <p class="group-member">15520693: Trần Hưng Quang</p>
                <p class="group-member">15520679: Nguyễn Trung Quân</p>
            </p>
            <div class="footer-icons">
                <a ><i class="fa fa-facebook"></i></a>
                <a ><i class="fa fa-twitter"></i></a>
                <a ><i class="fa fa-linkedin"></i></a>
                <a ><i class="fa fa-github"></i></a>
            </div>
        </div>
    </footer>

</body>
<script type="text/javascript" src="lib/jquery.min.js"></script>
<script type="text/javascript" src="lib/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="lib/swiper-4.4.2/dist/js/swiper.min.js"></script>
<script type="text/javascript" src="lib/jquery.bpopup.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="js/new.js"></script>
</html>