body {
  background-color: white; }

body .nav {
  position: relative;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: white; }

body .nav .container .right-block ul li a {
  color: black; }

body .nav .container .right-block ul .active {
  background-color: black; }

body .nav .container .right-block ul .active a {
  color: #E88E20; }

body .clear {
  clear: both; }

body .fixNav {
  position: fixed; }

body .title {
  text-align: center; }

body .name {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  margin: 5% 0 6%; }

body .text {
  font-size: 16px; }

body .actor-info {
  border-bottom: 1px solid #f1f1f1;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 20px 0; }

body .actor-info .actor-avatar {
  height: 42%; }

body .actor-info .actor-avatar img {
  border-radius: 10px; }

body .actor-info .actor-info-content .name {
  padding-left: 15px;
  margin: 0 0 0.7em;
  text-align: left;
  font-size: 25px;
  color: #E88E20; }

body .artist {
  display: block;
  padding-bottom: 3%; }

body .artist .content {
  padding: 3%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #777;
  -moz-box-shadow: 0px 0px 10px #777;
  -webkit-box-shadow: 0px 0px 10px #777; }

body .artist .content .text-title {
  font-size: 16px;
  font-weight: bold; }

body .artist .content li {
  font-size: 16px; }

body #award-achieved {
  background-color: black;
  padding: 1% 0 2%; }

body #award-achieved .title {
  color: #E88E20; }

body #award-achieved .swiper-wrapper {
  height: 70%; }

body #award-achieved .award {
  height: 100%;
  margin: 0 2%;
  border-radius: 10px;
  background-color: white;
  padding: 2% 0;
  box-shadow: 0px 0px 10px #777;
  -moz-box-shadow: 0px 0px 10px #777;
  -webkit-box-shadow: 0px 0px 10px #777;
  position: relative; }

body #award-achieved .award .award-img {
  height: 100%; }

body #award-achieved .award .award-img img {
  border-radius: 10px; }

body #award-achieved .award .award-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%; }

body #award-achieved .award .award-content :after {
  content: '';
  position: absolute;
  top: -15%;
  left: 0;
  background-color: black;
  width: 100%;
  height: 135%;
  z-index: -1;
  opacity: 0.5; }

body #award-achieved .award .award-content .name {
  color: #E88E20;
  font-size: 28px;
  margin: 0% 0 3%; }

body #award-achieved .award .award-content .text {
  padding: 0 3%;
  text-align: center;
  color: #E88E20; }

body .comments {
  background-color: white;
  padding-bottom: 2%; }

body .comments .comments-content .comment-container, body .comments .comments-content .comment-maker {
  position: relative;
  padding: 2% 0 1%; }

body .comments .comments-content .comment-container .fa-close, body .comments .comments-content .comment-maker .fa-close {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: white;
  text-align: center;
  line-height: 25px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #777;
  -moz-box-shadow: 0px 0px 10px #777;
  -webkit-box-shadow: 0px 0px 10px #777;
  margin: 0.5%;
  top: 15px;
  right: -14px;
  z-index: 10; }

body .comments .comments-content .comment-container .user, body .comments .comments-content .comment-maker .user {
  box-shadow: 0px 0px 10px #777;
  -moz-box-shadow: 0px 0px 10px #777;
  -webkit-box-shadow: 0px 0px 10px #777;
  background-color: white;
  border-radius: 10px;
  height: 100%; }

body .comments .comments-content .comment-container .user .avatar, body .comments .comments-content .comment-maker .user .avatar {
  height: 62%; }

body .comments .comments-content .comment-container .user .name, body .comments .comments-content .comment-maker .user .name {
  font-size: 20px;
  text-align: left; }

body .comments .comments-content .comment-container .user .user-info, body .comments .comments-content .comment-maker .user .user-info {
  padding: 0 11px; }

body .comments .comments-content .comment-container .comment, body .comments .comments-content .comment-maker .comment {
  overflow: hidden;
  padding: 1% 0;
  border-radius: 10px;
  height: 280px; }

body .comments .comments-content .comment-container .comment .block, body .comments .comments-content .comment-maker .comment .block {
  padding: 0 5px; }

body .comments .comments-content .comment-container .comment .comment-vote, body .comments .comments-content .comment-maker .comment .comment-vote {
  box-shadow: 0px 0px 10px #777;
  -moz-box-shadow: 0px 0px 10px #777;
  -webkit-box-shadow: 0px 0px 10px #777;
  background-color: white;
  border-radius: 10px; }

body .comments .comments-content .comment-container .comment .comment-vote .like-btn, body .comments .comments-content .comment-container .comment .comment-vote .dislike-btn, body .comments .comments-content .comment-maker .comment .comment-vote .like-btn, body .comments .comments-content .comment-maker .comment .comment-vote .dislike-btn {
  text-align: center;
  width: 100%;
  font-size: 30px; }

body .comments .comments-content .comment-container .comment .comment-vote .number-like, body .comments .comments-content .comment-maker .comment .comment-vote .number-like {
  width: 60px;
  height: 60px;
  background-color: white;
  font-size: 28px;
  border-radius: 60px;
  text-align: center;
  line-height: 63px;
  margin: 12% auto;
  font-weight: bold;
  box-shadow: 0px 0px 10px #777;
  -moz-box-shadow: 0px 0px 10px #777;
  -webkit-box-shadow: 0px 0px 10px #777; }

body .comments .comments-content .comment-container .comment .comment-content, body .comments .comments-content .comment-maker .comment .comment-content {
  box-shadow: 0px 0px 10px #777;
  -moz-box-shadow: 0px 0px 10px #777;
  -webkit-box-shadow: 0px 0px 10px #777;
  background-color: white;
  border-radius: 10px;
  height: 100%;
  padding: 1% 2%; }

body .comments .comments-content .comment-container .comment .comment-content .top-block, body .comments .comments-content .comment-maker .comment .comment-content .top-block {
  height: 10%; }

body .comments .comments-content .comment-container .comment .comment-content .mid-block, body .comments .comments-content .comment-maker .comment .comment-content .mid-block {
  height: 70%; }

body .comments .comments-content .comment-container .comment .comment-content .bottom-block, body .comments .comments-content .comment-maker .comment .comment-content .bottom-block {
  height: 20%; }

body .comments .comments-content .comment-container .comment .comment-content .bottom-block .block, body .comments .comments-content .comment-maker .comment .comment-content .bottom-block .block {
  position: relative;
  height: 100%; }

body .comments .comments-content .comment-container .comment .comment-content .bottom-block .amount-of-response, body .comments .comments-content .comment-maker .comment .comment-content .bottom-block .amount-of-response {
  padding-left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

body .comments .comments-content .comment-container .comment .comment-content .bottom-block .see-response-btn, body .comments .comments-content .comment-maker .comment .comment-content .bottom-block .see-response-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1%;
  padding: 5px 20px;
  font-size: 14px;
  width: 37%;
  margin: 0; }

body .comments .comments-content .comment-maker {
  height: 280px; }

body .comments .comments-content .comment-maker .block {
  padding: 0 5px; }

body .comments .comments-content .comment-maker .comment-area {
  resize: none;
  display: block;
  width: 100%;
  height: 100%;
  padding: 2%;
  font-size: 17px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #777;
  -moz-box-shadow: 0px 0px 10px #777;
  -webkit-box-shadow: 0px 0px 10px #777; }

body .comments .comments-content .comment-maker .comment-btn {
  margin-top: 2%;
  float: right; }

body #other-actors {
  overflow: hidden;
  background-color: black; }

body #other-actors .title {
  color: #E88E20; }

body #other-actors .swiper-container .swiper-wrapper {
  height: 50%; }

body #other-actors .swiper-container .swiper-wrapper .swiper-slide {
  height: 90%; }

body #other-actors .swiper-container .swiper-wrapper .swiper-slide .info-content {
  overflow: hidden;
  margin: 0 2%;
  padding: 0;
  background-color: white;
  box-shadow: 0px 0px 10px #777;
  -moz-box-shadow: 0px 0px 10px #777;
  -webkit-box-shadow: 0px 0px 10px #777;
  border-radius: 10px; }

body #other-actors .swiper-container .swiper-wrapper .swiper-slide .info-content .avatar {
  height: 80%; }

body #other-actors .swiper-container .swiper-wrapper .swiper-slide .info-content .avatar img {
  border-radius: 10px 10px 0 0; }

body #other-actors .swiper-container .swiper-wrapper .swiper-slide .info-content .name {
  font-size: 20px; }
