body {
  width: 100%;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  margin: 0;
  padding: 0;
  position: relative; }

@keyframes showBlock {
  to {
    opacity: 0; }
  from {
    opacity: 1; } }

@keyframes hiddenBlock {
  to {
    opacity: 1; }
  from {
    opacity: 0; } }

body .show {
  display: block; }

body .hidden {
  display: none; }

body h3, body h4 {
  margin: 1em 0; }

body img {
  width: 100%;
  height: 100%; }

body a {
  text-decoration: none; }

body a:hover {
  text-decoration: none; }

body .clear {
  clear: both; }

@keyframes changeColorBtn1 {
  from {
    border-color: black;
    color: black; }
  to {
    border-color: #E88E20;
    color: #E88E20;
    background-color: black; } }

@keyframes changeColorBtn2 {
  from {
    border-color: white;
    color: white; }
  to {
    border-color: #E88E20;
    color: #E88E20;
    background-color: white; } }

@keyframes changeColorBtn3 {
  from {
    border-color: green;
    color: green; }
  to {
    border-color: white;
    color: white;
    background-color: green; } }

@keyframes changeColorBtn4 {
  from {
    border-color: red;
    color: red; }
  to {
    border-color: white;
    color: white;
    background-color: red; } }

body .nav {
  height: 60px;
  line-height: 60px;
  background-color: transparent;
  position: fixed;
  width: 100%;
  display: block;
  z-index: 999; }

body .nav .container {
  width: 100%;
  height: 100%; }

body .nav .container .logo {
  float: left;
  width: 9.5%;
  margin-left: 2%; }

body .nav .container .right-block {
  float: right;
  height: 100%; }

body .nav .container .right-block ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  vertical-align: top; }

body .nav .container .right-block ul li {
  display: inline-block;
  padding: 0 20px;
  margin-right: -5px; }

body .nav .container .right-block ul li a {
  display: block;
  color: white;
  font-weight: bold;
  text-decoration: none; }

body .nav .container .right-block .user-avatar {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  border-radius: 50%;
  display: inline-block;
  margin: 0 20px; }

body .fixNav {
  background-color: white;
  border-bottom: 1px solid #f1f1f1;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1); }

body .fixNav .container .right-block ul li a {
  color: black; }

body .fixNav .container .right-block ul li:hover {
  background-color: black; }

body .fixNav .container .right-block ul li:hover a {
  color: #E88E20; }

body .fixNav .container .right-block ul .active {
  background-color: black; }

body .fixNav .container .right-block ul .active a {
  color: #E88E20; }

body .title {
  font-size: 38px;
  font-weight: bold; }

body .text {
  font-size: 17px; }

body .row {
  margin: 0;
  padding: 0; }

body .gr-row-lg {
  height: 61.8%;
  width: 100%;
  display: block; }

body .gr-row-sm {
  height: 38.2%;
  width: 100%;
  display: block;
  overflow: hidden; }

body ::-webkit-scrollbar {
  width: 5px;
  display: none; }

body ::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px; }

body ::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px; }

body ::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 20px; }

body .btn {
  border: 2px solid black;
  border-radius: 25px;
  display: inline-block;
  padding: 10px 35px;
  color: black;
  font-weight: bold;
  margin-top: 5%; }

body .btn:hover {
  border-color: #E88E20;
  color: #E88E20;
  background-color: black;
  animation: changeColorBtn1 1s; }

body .w-btn {
  border-color: white;
  color: white; }

body .w-btn:hover {
  border-color: #E88E20;
  color: #E88E20;
  background-color: white;
  animation: changeColorBtn2 1s; }

body #kv .banner {
  position: relative; }

@keyframes fadeOutUp {
  0% {
    opacity: 0;
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

body #kv .banner .info-content {
  position: absolute;
  left: 57.8%;
  top: 47%;
  transform: translateY(-50%);
  color: white;
  padding-right: 4%; }

body #kv .banner .info-content .top-block {
  margin-bottom: 2.5em; }

body #kv .banner .info-content .black-background {
  position: absolute;
  left: -5%;
  top: 5%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1;
  opacity: 0.5; }

body #kv .banner .info-content .title, body #kv .banner .info-content .text, body #kv .banner .info-content .btn {
  position: relative;
  z-index: 2; }

body #kv .banner .info-content .title {
  font-size: 33px; }

body #kv .banner .info-content br {
  margin-bottom: 10px; }

body #kv .banner .info-content .btn {
  border-color: white;
  color: white; }

body #kv .banner .info-content .btn:hover {
  border-color: #E88E20;
  color: #E88E20;
  background-color: white; }

body #kv .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border: 3px solid white;
  background-color: white; }

body #kv .swiper-pagination-bullet-active {
  background-color: transparent; }

body .animation .title {
  -webkit-animation: fadeOutUp 1s;
  -moz-animation: fadeOutUp 1s;
  -ms-animation: fadeOutUp 1s;
  animation: fadeOutUp 1s; }

body .animation .text {
  -webkit-animation: fadeOutUp 2s;
  -moz-animation: fadeOutUp 2s;
  -ms-animation: fadeOutUp 2s;
  animation: fadeOutUp 2s; }

body .animation .btn-view-more {
  -webkit-animation: fadeOutUp 3s;
  -moz-animation: fadeOutUp 3s;
  -ms-animation: fadeOutUp 3s;
  animation: fadeOutUp 3s; }

body #history {
  margin: 50px 60px; }

body #history .info-content {
  width: 59.4%;
  padding-right: 2%;
  display: inline-block;
  vertical-align: top; }

body #history .info-content .title {
  margin-top: 0em; }

body #history .info-content .btn-view-more {
  float: right;
  margin-right: 5px; }

body #history .history-img {
  display: inline-block;
  vertical-align: top;
  width: 38.2%;
  margin-left: 2%; }

@keyframes moveUpAward {
  0% {
    top: 100%; }
  100% {
    top: 20%; } }

body #film-awarded {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  color: white;
  overflow: hidden;
  padding: 10px;
  background-color: black; }

body #film-awarded .title {
  text-align: center;
  margin-bottom: 4%;
  color: #E88E20; }

body #film-awarded .panel-controller {
  overflow: hidden; }

body #film-awarded .panel-controller .panel-controller-element {
  padding: 5px; }

body #film-awarded .panel-controller .panel-controller-element .content {
  position: relative;
  transition: all 0.25s ease-in-out;
  border-radius: 10px; }

body #film-awarded .panel-controller .panel-controller-element .content .img {
  height: 40%; }

body #film-awarded .panel-controller .panel-controller-element .content .img img {
  border-radius: 6px 6px 0 0; }

body #film-awarded .panel-controller .panel-controller-element .content .award-archieve {
  padding: 3% 0;
  height: 151px; }

body #film-awarded .panel-controller .panel-controller-element .content .award-archieve .award-img {
  padding: 0 5px; }

body #film-awarded .panel-controller .panel-controller-element .content .award-archieve .award-name {
  padding: 17% 5px 0;
  text-align: center;
  font-weight: bold; }

body #film-awarded .panel-controller .panel-controller-element .content .award-archieve .award-name .award {
  font-size: 20px; }

body #film-awarded .panel-controller .panel-controller-element .content .award-archieve .gold-award {
  color: #E88E20; }

body #film-awarded .panel-controller .panel-controller-element .content .award-archieve .silver-award {
  color: #9c9c9a; }

body #film-awarded .panel-controller .panel-controller-element .content:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 10px white;
  -moz-box-shadow: 0px 0px 10px white;
  -webkit-box-shadow: 0px 0px 10px white; }

body #film-awarded .panel-controller .panel-controller-element:nth-child(1) .content, body #film-awarded .panel-controller .panel-controller-element:nth-child(3) .content {
  border: 3px solid #E88E20; }

body #film-awarded .panel-controller .panel-controller-element:nth-child(1) .content .img, body #film-awarded .panel-controller .panel-controller-element:nth-child(3) .content .img {
  border-bottom: 2px solid #E88E20; }

body #film-awarded .panel-controller .panel-controller-element:nth-child(2) .content, body #film-awarded .panel-controller .panel-controller-element:nth-child(4) .content {
  border: 3px solid #9c9c9a; }

body #film-awarded .panel-controller .panel-controller-element:nth-child(2) .content .img, body #film-awarded .panel-controller .panel-controller-element:nth-child(4) .content .img {
  border-bottom: 2px solid #9c9c9a; }

body #film-awarded .panel-controller .panel-controller-element .film-chose .img {
  border-bottom: none !important; }

body #film-awarded .panel-controller .panel-controller-element .film-chose .award-archieve {
  position: absolute;
  -webkit-animation: moveUpAward 0.6s;
  -moz-animation: moveUpAward 0.6s;
  -ms-animation: moveUpAward 0.6s;
  animation: moveUpAward 0.6s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards; }

body #film-awarded .panel-controller .panel-controller-element .film-chose .award-archieve:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.35; }

body #film-awarded .panel-controller .panel-controller-element-actived {
  opacity: 1; }

body #film-awarded .panel-controller .panel-controller-element-actived .content {
  transform: scale(1.03);
  box-shadow: 0px 0px 10px white;
  -moz-box-shadow: 0px 0px 10px white;
  -webkit-box-shadow: 0px 0px 10px white;
  border-radius: 10px 10px 0 0;
  border-bottom-color: black !important;
  box-shadow: none; }

body #film-awarded .panel-controller .panel-controller-element-unactived {
  opacity: 0.5; }

body #film-awarded .panel-content {
  text-align: center;
  overflow: hidden;
  border-top: none;
  margin-top: -5px;
  background-color: black; }

body #film-awarded .panel-content .film {
  margin: 0 auto;
  width: 100%;
  padding: 3% 10% 2%;
  overflow: hidden;
  border-radius: 10px; }

body #film-awarded .panel-content .film:nth-child(1) {
  border-radius: 0 10px 10px 10px; }

body #film-awarded .panel-content .film:nth-child(4) {
  border-radius: 10px 0 10px 10px; }

body #film-awarded .panel-content .film:nth-child(1), body #film-awarded .panel-content .film:nth-child(3) {
  border: 3px solid #E88E20; }

body #film-awarded .panel-content .film:nth-child(2), body #film-awarded .panel-content .film:nth-child(4) {
  border: 3px solid #9c9c9a; }

body #film-awarded .panel-content .film .title {
  margin: 0 auto 0.5em;
  color: white;
  font-size: 36px; }

body #film-awarded .panel-content .film .award {
  margin-bottom: 2em; }

body #film-awarded .panel-content .film .text {
  text-align: left;
  font-size: 16px;
  margin: 20px 0; }

body #film-awarded .panel-content .film .content {
  height: 48%;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px; }

body #film-awarded .panel-content .film .content:hover {
  overflow: auto; }

body #film-awarded .panel-content .film .trailer {
  margin-top: 2%;
  display: inline-block; }

body #film-awarded .panel-content .film .more-info {
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  display: inline-block;
  margin-top: 2%; }

body #film-awarded .panel-content .film .more-info .top {
  height: 32%; }

body #film-awarded .panel-content .film .more-info .text {
  margin: 10px 0; }

body #film-awarded .panel-content .film .more-info .btn {
  border-color: white;
  color: white; }

body #film-awarded .panel-content .film .more-info .btn:hover {
  border-color: #E88E20;
  color: #E88E20;
  background-color: white;
  animation: changeColorBtn2 1s; }

body #actor-awarded {
  padding-bottom: 2.5%; }

body #actor-awarded .title {
  text-align: center; }

body #actor-awarded .swiper-container {
  padding-bottom: 2.5%; }

body #actor-awarded .swiper-container .swiper-wrapper .swiper-slide {
  padding: 0 2%; }

body #actor-awarded .swiper-container .swiper-wrapper .swiper-slide .info-content {
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  height: 100%;
  padding: 0;
  box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.1); }

body #actor-awarded .swiper-container .swiper-wrapper .swiper-slide .info-content p {
  margin: 0 15px; }

body #actor-awarded .swiper-container .swiper-wrapper .swiper-slide .info-content .avatar {
  width: 100%;
  height: 52%;
  border: 1px solid #e2e2e2;
  margin: 0 auto;
  border-radius: 10px 10px 0 0; }

body #actor-awarded .swiper-container .swiper-wrapper .swiper-slide .info-content .avatar img {
  border-radius: 10px 10px 0 0; }

body #actor-awarded .swiper-container .swiper-wrapper .swiper-slide .info-content .name {
  margin-top: 10px;
  text-align: center;
  font-size: 30px;
  font-weight: bold; }

body #actor-awarded .swiper-container .swiper-wrapper .swiper-slide .info-content hr {
  width: 80%;
  margin: 1.25em auto 0.75em; }

body #actor-awarded .swiper-container .swiper-wrapper .swiper-slide .info-content .job {
  text-align: center;
  font-size: 18px;
  margin: 10px; }

body #actor-awarded .swiper-container .swiper-wrapper .swiper-slide .info-content .btn-view-more {
  float: right;
  margin-right: 10px;
  margin-top: 10px; }

body #actor-awarded .swiper-container .swiper-wrapper .swiper-slide .info-content .btn {
  padding: 8px 25px; }

body #actor-awarded .swiper-container .swiper-pagination {
  bottom: 0; }

body #actor-awarded .swiper-container .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border: 3px solid black;
  background-color: black; }

body #actor-awarded .swiper-container .swiper-pagination-bullet-active {
  background-color: transparent; }

body #contact-us {
  border-bottom: 1px solid #f1f1f1;
  border-top: 1px solid #f1f1f1; }

body #contact-us .title {
  text-align: center; }

body #contact-us form {
  margin: 10px 40px; }

body #contact-us form .contact-us-form {
  background-color: white;
  border-radius: 7px;
  padding: 20px; }

body #contact-us form .contact-us-form .form-col {
  display: block; }

body #contact-us form .contact-us-form .form-col label {
  margin-left: 10px;
  color: #E88E20;
  font-size: 15px;
  font-weight: bold; }

body #contact-us form input[type="text"], body #contact-us form input[type="password"], body #contact-us form input[type="email"], body #contact-us form textarea, body #contact-us form select {
  color: black;
  padding: 10px 15px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 100%;
  font-size: 15px; }

body #contact-us form input[type="text"]:hover, body #contact-us form input[type="password"]:hover, body #contact-us form input[type="email"]:hover, body #contact-us form textarea:hover, body #contact-us form select:hover {
  box-shadow: 0px 0px 10px #777;
  -moz-box-shadow: 0px 0px 10px #777;
  -webkit-box-shadow: 0px 0px 10px #777; }

body #contact-us form textarea {
  border-radius: 10px; }

body #contact-us form textarea {
  height: 150px; }

body #contact-us form .btn-view-more {
  margin-bottom: 5%; }

body #contact-us form blockquote {
  border-left: none; }

body #contact-us form #text-title {
  color: #e01111;
  font-size: 25px;
  text-align: center;
  padding: 0;
  margin: 0; }

body #contact-us form div a {
  border-radius: 3px; }

body #contact-us form #location-in-map {
  height: 400px; }

body #donors {
  width: 100%;
  height: 300px;
  padding: 30px 0 100px;
  background-color: black; }

body #donors .title {
  text-align: center;
  margin: 0 0 1em;
  color: white; }

body #donors .swiper-container .swiper-wrapper .swiper-slide {
  width: 50% !important;
  margin: 0 25% !important; }

body .footer-distributed {
  font-family: 'Open Sans', sans-serif;
  padding: 20px 50px;
  margin-top: 0;
  background-color: white;
  border-top: 1px solid #f1f1f1; }

body .footer-distributed h4 {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px; }

body .footer-distributed .footer-left .footer-logo {
  width: 46%;
  height: 35%; }

body .footer-distributed .footer-links {
  color: black; }

body .footer-distributed .group-member {
  padding-left: 0;
  margin: 5px;
  font-size: 15px;
  color: black; }

body .footer-distributed .footer-center p {
  color: black; }

body .footer-distributed .footer-center p a {
  color: #9F00F2; }

body .footer-distributed .footer-center i {
  background-color: #E88E20;
  color: white; }

body .footer-distributed .footer-center div {
  margin-bottom: 0.8em; }

body .footer-distributed .footer-company-about span {
  color: black; }

body .footer-distributed .footer-icons a {
  background-color: #E88E20;
  color: white;
  margin-right: 20px;
  border-radius: 5px; }

body .footer-distributed .footer-icons a i {
  padding: 7px; }

body #login-popup {
  top: 50% !important;
  transform: translate(-50%, -50%);
  left: 50% !important;
  background-color: transparent;
  padding: 1%;
  border-radius: 10px;
  position: relative; }

body #login-popup .fa-close {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #f1f1f1;
  text-align: center;
  line-height: 25px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #777;
  -moz-box-shadow: 0px 0px 10px #777;
  -webkit-box-shadow: 0px 0px 10px #777;
  margin: 0.5%;
  top: -3px;
  right: -3px;
  z-index: 10; }

body #login-popup .fa-close:hover {
  opacity: 0.9; }

body #login-popup .popup-content {
  padding: 2%;
  position: relative; }

body #login-popup .popup-content:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
  z-index: -1;
  border-radius: 10px; }

body #login-popup form {
  margin: 10px 40px; }

body #login-popup form .contact-us-form {
  background-color: white;
  border-radius: 7px;
  padding: 20px; }

body #login-popup form .contact-us-form .form-col {
  display: block; }

body #login-popup form .contact-us-form .form-col label {
  margin-left: 10px;
  color: #E88E20;
  font-size: 15px;
  font-weight: bold; }

body #login-popup form input[type="text"], body #login-popup form input[type="password"], body #login-popup form input[type="email"], body #login-popup form textarea, body #login-popup form select {
  color: black;
  padding: 10px 15px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 100%;
  font-size: 15px; }

body #login-popup form input[type="text"]:hover, body #login-popup form input[type="password"]:hover, body #login-popup form input[type="email"]:hover, body #login-popup form textarea:hover, body #login-popup form select:hover {
  box-shadow: 0px 0px 10px #777;
  -moz-box-shadow: 0px 0px 10px #777;
  -webkit-box-shadow: 0px 0px 10px #777; }

body #login-popup form textarea {
  border-radius: 10px; }

body #login-popup p {
  text-align: center; }

body #login-popup #login-btn {
  border-color: green;
  color: green; }

body #login-popup #login-btn:hover {
  border-color: white;
  color: white;
  background-color: green;
  animation: changeColorBtn3 1s; }

body #login-popup .btn {
  width: 60%;
  padding-left: 0;
  padding-right: 0;
  margin: 2% auto 5%;
  display: block; }

body #login-popup .avatar {
  width: 100px;
  height: 100px;
  margin: 2% auto; }

body #login-popup .mid-block {
  position: relative;
  overflow: hidden; }

body #login-popup .mid-block h5 {
  position: absolute;
  top: 3px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 0 20px; }

body #login-popup .btn-grp {
  margin: 0 auto;
  display: block;
  width: 53%; }

body #login-popup .btn-grp #facebook a, body #login-popup .btn-grp #facebook p {
  color: #4267b2; }

body #login-popup .btn-grp #twitter a, body #login-popup .btn-grp #twitter p {
  color: #1da1f2; }

body #login-popup .btn-grp #google a, body #login-popup .btn-grp #google p {
  color: #db4437; }

body #login-popup .btn-grp .item-group {
  border-radius: 50px;
  margin: 0 auto; }

body #login-popup .btn-grp .item-group:hover {
  box-shadow: 0px 0px 10px #777;
  -moz-box-shadow: 0px 0px 10px #777;
  -webkit-box-shadow: 0px 0px 10px #777; }

body #login-popup .btn-grp .item-group:hover a i {
  box-shadow: 0px 0px 10px #777;
  -moz-box-shadow: 0px 0px 10px #777;
  -webkit-box-shadow: 0px 0px 10px #777; }

body #login-popup .btn-grp .item-group a i {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 30px;
  font-size: 20px; }

body #login-popup .btn-grp .item-group a p {
  display: inline-block;
  padding-left: 10px;
  padding-right: 25px; }

body #user-popup {
  position: fixed;
  z-index: 999;
  top: 17.5% !important;
  transform: translate(-50%, -50%);
  right: -7% !important;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #777;
  -moz-box-shadow: 0px 0px 10px #777;
  -webkit-box-shadow: 0px 0px 10px #777;
  display: none; }

body #user-popup .login, body #user-popup .signup {
  padding: 22px 25px;
  font-weight: bold; }

body #user-popup .arrow-up {
  width: 40px;
  height: 40px;
  position: absolute;
  overflow: hidden;
  top: -46%;
  left: 73%;
  box-shadow: 0 16px 0px -17px rgba(0, 0, 0, 0.5); }

body #user-popup .arrow-up:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: white;
  transform: rotate(45deg);
  top: 30px;
  left: 10px;
  box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5); }
