@charset "UTF-8";
body {
  background-color: #f1f1f1; }

body .nav {
  position: relative;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: white; }

body .nav .container .right-block ul li a {
  color: black; }

body .nav .container .right-block ul .active {
  background-color: black; }

body .nav .container .right-block ul .active a {
  color: #E88E20; }

body #signup {
  padding: 1% 3% 5%; }

body #signup .signup-content .title {
  text-align: center; }

body #signup .signup-content .left-form {
  background-color: transparent;
  padding: 0; }

body #signup .signup-content .left-form .signup-banner {
  width: 100%;
  height: 83%;
  padding-right: 2%; }

body #signup .signup-content .left-form .signup-banner img {
  border-radius: 10px;
  box-shadow: 0px 0px 10px #777;
  -moz-box-shadow: 0px 0px 10px #777;
  -webkit-box-shadow: 0px 0px 10px #777;
  border-radius: 10px; }

body #signup .signup-content form {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #777;
  -moz-box-shadow: 0px 0px 10px #777;
  -webkit-box-shadow: 0px 0px 10px #777;
  overflow: hidden; }

body #signup .signup-content form .right-form {
  padding: 1% 4%; }

body #signup .signup-content form .right-form .pick-avatar #frame {
  width: 50%;
  height: 35%;
  margin: 2% auto 0;
  display: block;
  border-radius: 20px;
  border: 2px solid #f1f1f1; }

body #signup .signup-content form .right-form .pick-avatar .choose-img {
  color: transparent;
  margin: 4% auto 2%;
  width: 22.5%; }

body #signup .signup-content form .right-form .pick-avatar .choose-img::-webkit-file-upload-button {
  visibility: hidden; }

body #signup .signup-content form .right-form .pick-avatar .choose-img::before {
  content: 'Chọn ảnh từ folder';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, white, white);
  border: 2px solid black;
  border-radius: 50px;
  padding: 10px 15px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt; }

body #signup .signup-content form .right-form .attr-element {
  margin-bottom: 3%; }

body #signup .signup-content form .right-form .attr-element label {
  margin-left: 10px;
  color: #E88E20;
  font-size: 15px;
  font-weight: bold; }

body #signup .signup-content form .right-form .attr-element input[type="text"], body #signup .signup-content form .right-form .attr-element input[type="password"], body #signup .signup-content form .right-form .attr-element input[type="email"], body #signup .signup-content form .right-form .attr-element select {
  color: black;
  padding: 10px 15px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 100%;
  font-size: 15px; }

body #signup .signup-content form .right-form .attr-element input[type="text"]:hover, body #signup .signup-content form .right-form .attr-element input[type="password"]:hover, body #signup .signup-content form .right-form .attr-element input[type="email"]:hover, body #signup .signup-content form .right-form .attr-element select:hover {
  box-shadow: 0px 0px 10px #777;
  -moz-box-shadow: 0px 0px 10px #777;
  -webkit-box-shadow: 0px 0px 10px #777; }

body #signup .signup-content form .right-form .attr-element .date input[type="text"] {
  margin: 0;
  padding: 21px 15px;
  border-radius: 50px 0 0 50px; }

body #signup .signup-content form .right-form .attr-element .date .input-group-addon {
  border-radius: 0 50px 50px 0; }

body #signup .signup-content form .right-form .considtion-readed .container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 25px;
  margin: 5%; }

body #signup .signup-content form .right-form .considtion-readed .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

body #signup .signup-content form .right-form .considtion-readed .container input:checked ~ .checkmark {
  background-color: #2196F3; }

body #signup .signup-content form .right-form .considtion-readed .container input:checked ~ .checkmark:after {
  display: block; }

body #signup .signup-content form .right-form .considtion-readed .container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 5px; }

body #signup .signup-content form .right-form .considtion-readed .container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 0px;
  width: 9px;
  height: 19px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

body #signup .signup-content form .right-form .btn-group {
  width: 60%;
  margin: 1% auto 2%;
  display: block; }

body #signup .signup-content form .right-form .btn-group .btn {
  width: 85%;
  display: block;
  margin: 5% auto 0; }

body #signup .signup-content form .right-form .btn-group .signup-btn {
  color: green;
  border-color: green; }

body #signup .signup-content form .right-form .btn-group .signup-btn:hover {
  background-color: green;
  color: green;
  border-color: white;
  animation: changeColorBtn3 1s; }

body #condition-popup {
  top: 50% !important;
  transform: translate(-50%, -50%);
  left: 50% !important;
  position: relative;
  padding: 1%; }

body #condition-popup a {
  text-decoration: none;
  color: black; }

body #condition-popup .popup-container .fa-close {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #f1f1f1;
  text-align: center;
  line-height: 25px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #777;
  -moz-box-shadow: 0px 0px 10px #777;
  -webkit-box-shadow: 0px 0px 10px #777;
  margin: 0.5%;
  top: -3px;
  right: -3px;
  z-index: 10; }

body #condition-popup .popup-container .content {
  background-color: white;
  padding: 4%;
  border-radius: 10px; }

body #condition-popup .popup-container .content .title {
  text-align: center;
  font-size: 33px;
  margin-bottom: 2%; }
